/**
 * Global Styles
 * Author: Andrew Jarombek
 * Date: 1/17/2019
 */

@font-face {
  font-family: Longway;
  font-weight: bold;
  src: url("https://asset.jarombek.com/fonts/Longway-Regular.otf") format("opentype");
}