<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Learning MongoDB Part III: Arrays and Nested Objects</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">December 23rd, 2017</p>
                <br>
                <h4>Learning MongoDB Part III: Arrays and Nested Objects</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>MongoDB <span class="badge badge-default">Basic</span></p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                    <p>Relational Database <span class="badge badge-default">Basic</span></p>
                    <p>Document Database <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        One of the really powerful things about a document database like MongoDB is the ability to store arrays of values in a document.  
                        This array itself can even store sub-documents, allowing for many levels of nested data. 
                    </p>
                    <p>
                        An example of an array in a document being useful could be a user that has multiple addresses.  In a relational database, this 
                        address information would have to be stored in a separate table that could be joined on the user table to get all the addresses.  
                        In MongoDB, this can all be stored in one document which makes accessing quick and easy (no expensive <code>JOIN</code> operations) as 
                        well as simplifying updating.
                    </p>
                    <p>
                        Now let's look at some operations we can do on arrays from the MongoDB shell.  I created a document called <code>user</code> which 
                        will hold running log information.  This info consists of an array of exercise logs, an array of planned exercises, and the users 
                        personal records.
                    </p>
                    <p>
                        Accessing data from nested objects and arrays is easy.  Lets say we have a plan array that contains exercise plans.  These plans contain 
                        two properties - a date and a distance in miles.  If we want to just return the miles and not the date, we can do this using dot notation - 
                        <code>plan.miles</code>.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">db.user.find({}, {'plan.miles': 1}).pretty()</code>
                        </pre>
                    </figure>
                    <p>
                        If you wanted to just return the first item in the plan array to see the next run you have to go on, you can use the <code>$slice</code> 
                        operator.  <code>$slice</code> allows you to determine a number of items to return from an array.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">db.user.find({}, {_id: 1, plan: {$slice: 1}}).pretty()</code>
                        </pre>
                    </figure>
                    <p>
                        We pass <code>$slice</code> a value of 1 which says to only return the first element from the array.  You can give <code>$slice</code> a 
                        negative value to return from the end of the array.
                    </p>
                    <p>
                        Like any property, you can put an index on a nested property using dot notation:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">db.user.createIndex({'plan.date': 1})</code>
                        </pre>
                    </figure>
                    <p>
                        You can update an array with numerous operators including <code>$push</code>, <code>$pop</code>, and <code>$addToSet</code>.  
                        <code>$pop</code> removes an item from the array, while both <code>$push</code> and <code>$addToSet</code> add an item to the array.  
                        The difference is with <code>$addToSet</code> the new item will only be added if it does not already exist in the array.  This is a safer 
                        option if we want to avoid duplicates.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">// Delete the first element of the plan array
db.user.update({}, {$pop: {'plan': -1}})

// Add an element to the array if it does not already exist
db.user.update({}, {$addToSet: {'plan': {date: new Date("2017-12-27"), miles: 2}}})</code>
                        </pre>
                    </figure>
                    <p>
                        One important operator for updating in MongoDB is <code>findAndModify()</code>.  This command allows you to both update a document and 
                        return the new document atomically<sup>1</sup>.  All updates in MongoDB are performed atomically (an update is never half completed and 
                        no database connection ever sees an update in progress).  However, when you do <code>update()</code> and <code>find()</code> operations 
                        separately, there is a chance that another update is performed in between the execution of both commands.  <code>findAndModify()</code> 
                        eliminates this problem so you know any changes reflected in the document are from the update just performed. The following query will 
                        add another sub-document to the plan array and also return the new updated document.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">db.user.findAndModify({
    query: {},
    update: {
        $addToSet: {'plan': {date: new Date("2017-12-28"), miles: 4.1}}
    },
    'new': true
})</code>
                        </pre>
                    </figure>
                    <p>
                        These code samples begin to expose the power of arrays and sub-documents in MongoDB.  With them you can combine what would be many tables 
                        in a RDBMS into a single document.  All the code samples are found 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/12-Dec/12-23-MongoDB-Pt3/Source/dbscripts.js">HERE</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">MongoDB</span> <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">Relational Database</span>
                            <span class="badge badge-default">NoSQL</span> <span class="badge badge-default">Document Database</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Kyle Banker, Peter Bakkum, Shaun Verch, Douglas Garrett &amp; Tom Hawkins, MongoDB In Action, 2nd ed (Shelter Island, NY: Manning, 2016), 171</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>