<div class="home-component-container">
    <div class="logo-container">
        <img src="../../assets/logo.png"/>
        <a [routerLink]="['/pics']">Navigate</a>
    </div>
    <div class="lifecycle-log-container">
        <div *ngFor="let lifecycle of lifecycles">
            <app-notification [content]="lifecycle">
              <div class="{{content.type}}-{{content.lifecycle}}">
                <p>{{content.component}}</p>
                <p>{{content.lifecycle}}</p>
                <p>{{content.type}}</p>
              </div>
            </app-notification>
        </div>
    </div>
</div>