<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strings in Swift 3 &amp; 4</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">January 3rd, 2017</p>
                <br>
                <h4>Strings in Swift 3 &amp; 4</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>Swift <span class="badge badge-warning">Intermediate</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        Yesterday I began to fix some bugs in my website 
                        <a href="https://github.com/AJarombek/saints-xctf">saintsxctf.com</a> 
                        and its corresponding native iOS and Android apps (because as we know a 
                        codebase is never complete).  I was looking at the Swift code for my iOS app and found a bug where I incorrectly selected a substring 
                        from a base64 encoded image.  Luckily the fix was easy to implement, but viewing the code made me remember just how confusing the String 
                        structure was in Swift.
                    </p>
                    <p>
                        You would think something as simple as a string would be straightforward, but in Swift there were a few quirks.  I wrote the code in Xcode 
                        8 and Swift 3 this fall.  Since then Xcode 9 and Swift 4 have released, making <code>String</code> a bit less confusing.  I will dive into strings in 
                        Swift 3 and then look at how the code has changed with Swift 4.
                    </p>
                    <h5>Swift 3</h5>
                    <p>
                        The first quirk of strings in Swift 3 is obvious when you try to get the length of a string.  There is no length or count variable on the 
                        <code>String</code> structure.  Instead each <code>String</code> has a <code>characters</code> variable of type <code>CharacterView</code> 
                        which is a collection of all the characters in the string<sup>1</sup>.  You can use the <code>characters</code> object to get the strings size or iterate 
                        over all the characters.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">var hello = "hello my name is andy 😺"
                                
hello.characters.count // 23

// The characters struct is a collection of Character structs
let chars: String.CharacterView = hello.characters

// You can peform operations on the characters collection just like any other collection
chars.forEach {
    char -> Void in
    
    print(char)
}</code>
                        </pre>
                    </figure>
                    <p>
                        Like any other collection, you can also perform functions such as filter, map, or sort on <code>characters</code>.  
                        Of course array operators are also possible.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">// Filter out all 'a' characters
var filtered = chars.filter {$0 != "a"}

// Remove and return the last character in collection
let catEmoji = filtered.popLast() // '😺'

// Convert back to a string
String(filtered)

String(filtered[6...7]) // returns 'my'</code>
                        </pre>
                    </figure>
                    <p>
                        One of the difficult operations to perform on strings in Swift is getting a substring.  In other languages its as simple as a 
                        <code>substring()</code> function with two integer arguments specifying the start and end indexes.  Swift also has a 
                        <code>substring()</code> function except it accepts a <code>Range&lt;String.Index&gt;</code> structure.  This struct is constructed with 
                        two <code>String.Index</code> structures used together with a half-open range operator <code>..&lt;</code><sup>2</sup>.
                    </p>
                    <p>
                        Okay, that already sounds a bit complicated.  The question you might be asking now is how to be get these <code>String.Index</code> 
                        structures?  We can get them by calling <code>index(String.Index, offsetBy: Int)</code> on our string<sup>3</sup>.  The following code 
                        sample gets two <code>String.Index</code> structs and then use them to get a substring.  You will notice that since the first parameter 
                        of <code>index()</code> is a <code>String.Index</code> structure we can use the strings built in <code>startIndex</code> variable, which 
                        is zero.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">var runDescription = "I ran 2.12 miles at 6:47 pace on January 3rd, 2018"
                                
let start: String.Index = runDescription.index(runDescription.startIndex, offsetBy: 6)
let end: String.Index = runDescription.index(runDescription.startIndex, offsetBy: 10)

let range: Range&lt;String.Index&gt; = start..&lt;end

runDescription.substring(with: range) // 2.12</code>
                        </pre>
                    </figure>
                    <p>
                        So why is this <code>String.Index</code> madness even necessary?  The answer has to do with the way Swift characters are stored, and in 
                        particular the possible complexities of using unicode scalars.  Characters in Swift are unicode scalars which are characters defined in 
                        Unicode<sup>4</sup>.  The problem is that some of these scalars are complex and can be combined into one visible character.  The 
                        following code shows two equivalent characters, except one uses two unicode scalars and the other uses one<sup>5</sup>.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">let e1 = "\u{00EB}" // "ë"
let e2 = "\u{0065}\u{0308}" // "ë"

if e1 == e2 {
    print("They are equal!")
}

if e1.characters.count == e2.characters.count {
    print("They both have a length of 1!")
}</code>
                        </pre>
                    </figure>
                    <p>
                        This means that an index in the internal character structure may actually hold only a piece of a visible character<sup>6</sup>.  Because 
                        of this, Swift makes this complexity obvious by implementing the <code>String.Index</code> struct.  Annoying sure, but it makes sense so 
                        that no newcomers to Swift will be tricked by the character implementation.
                    </p>
                    <h5>Swift 4</h5>
                    <p>
                        In Swift 4 the <code>characters</code> collection is deprecated and the <code>String</code> struct has become a collection.  This makes 
                        strings easier since you can perform all collection operations directly on the string object.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">var hello = "hello my name is andy 😺"
                                
print(hello.count) // 23

hello.forEach {
    char -> Void in 
    
    print(char)
}

// In Swift 4 since Strings are collections, we can filter directly on the String
var filtered = String(hello.filter { $0 != "a" })

filtered.removeLast() // '😺'</code>
                        </pre>
                    </figure>
                    <p>
                        We still have to use the <code>String.Index</code> structure in Swift 4 (unfortunately for those who know the internal structure). However, we can 
                        avoid the <code>Range</code> structure since our string is a collection!
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">var runDescription = "I ran 2.12 miles at 6:47 pace on January 3rd, 2018"
                                
let start: String.Index = runDescription.index(runDescription.startIndex, offsetBy: 6)
let end: String.Index = runDescription.index(runDescription.startIndex, offsetBy: 9)

let miles = runDescription[start...end] // 2.12</code>
                        </pre>
                    </figure>
                    <p>
                        Swift 4 also joins other modern languages (including JavaScripts ES6 standard) by introducing multi-line strings in code<sup>7</sup>!
                    </p>
                    <figure>
                        <pre>
                            <code class="language-swift" title="Swift" contenteditable="true" spellcheck="false">let stats = """
    name: andy
    date: 2018-01-03
    miles: \(miles)
"""</code>
                        </pre>
                    </figure>
                    <p>
                        Although the verbose <code>String.Index</code> struct is still necessary in Swift 4, changing <code>String</code> into a collection and 
                        supporting multi-line strings are major upgrades that make switching to Swift 4 worth it!  The code in this discovery is up on my 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2018/01-Jan/1-3-Swift-String/View/string-swift.html">GitHub</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">Swift</span> <span class="badge badge-default">Swift 3</span> <span class="badge badge-default">Swift 4</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "String.CharacterView", https://developer.apple.com/documentation/swift/string.characterview</p>
                        <p>[2] "Range", https://developer.apple.com/documentation/swift/range</p>
                        <p>[3] "index(_:offsetBy:)", https://developer.apple.com/documentation/swift/string/1786175-index</p>
                        <p>[4] Matthew Mathias &amp; John Gallagher, Swift Programming: The Big Nerd Ranch Guide (Atlanta, GA: Big Nerd Ranch, 2016), 63</p>
                        <p>[5] "Unicode Character Table", https://unicode-table.com/en/#control-character</p>
                        <p>[6] "How does String.Index work in Swift", https://stackoverflow.com/questions/39676939/how-does-string-index-work-in-swift</p>
                        <p>[7] "What’s New in Swift 4?", https://www.raywenderlich.com/163857/whats-new-swift-4</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>