2017/11-Nov/11-26-JS-Async-Function/Async/node_modules/*
2018/01-Jan/1-6-Angular5-First-Impression/developer/node_modules/*
2018/05-May/5-13-Generics-Arrays-Complexities-Java/output/*
2018/05-May/5-13-Generics-Arrays-Complexities-Java/.idea/*
.idea/*
2018/05-May/.idea/*
2018/05-May/5-14-Java-Clone/.idea/*
2018/05-May/5-15-Java-Clone/.idea/
2018/05-May/5-15-Java-Clone/output/*

2018/05-May/5-15-Java-Clone/.idea/*
2018/05-May/5-20-Java-Generics-API/.idea/*
2018/05-May/5-15-Java-Clone/output/*

2018/05-May/5-23-JavaScript-Immutable/immutableObjects.js
2018/05-May/5-26-NodeJS-Command-Line/node_modules/
2018/05-May/5-26-NodeJS-Command-Line/node_modules/.yarn-integrity

2018/06-Jun/6-13-Web-Workers/assets/*
2018/06-Jun/6-18-CSS-Grid/assets/*

Unknown/terraform/*

2018/08-Aug/8-5-graphql/node_modules/*
Unknown/react-lifecycle/react/lifecycle-demo/node_modules/*
Unknown/angular-lifecycle/angular/lifecycle-demo/node_modules/*
Unknown/d3-react/react/d3-demo/node_modules/*
Unknown/9-26-angular-lifecycle/angular/.idea/*
2018/09-Sep/.idea/*
Unknown/d3-react/.idea/*
Unknown/d3-react/react/.idea/*
Unknown/d3-react/react/d3-demo/.idea/*
2018/09-Sep/9-26-angular-lifecycle/*

2018/10-Oct/10-06-haskell-pt1/notation.synctex.gz
2018/10-Oct/10-06-haskell-pt1/notation.pdf
2018/10-Oct/10-06-haskell-pt1/notation.log
2018/10-Oct/10-06-haskell-pt1/notation.aux

2019/08-Aug/08-18-type-equality/csharp/equality/bin
2019/08-Aug/08-18-type-equality/csharp/equality/obj
2019/08-Aug/08-18-type-equality/c/cmake-build-debug
2019/08-Aug/08-18-type-equality/cpp/cmake-build-debug 

**/.idea/*
**/node_modules/*
**/__pycache__/*