prism.js
prism.css
Discoveries/2017/11-Nov/11-26-JS-Async-Function/Source/Async/node_modules
*.otf
.sass-cache/*
blizzard.png
triangles.png

Discoveries/2018/01-Jan/1-6-Angular-5-First-Impression/Source/.idea/*
Discoveries/2018/01-Jan/1-6-Angular-5-First-Impression/Source/developer/node_modules/*
*.sassc

*.scssc

Discoveries/.vscode/settings.json
