<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Shadow DOM</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link rel="stylesheet" href="style/shadow-dom.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">January 14th, 2018</p>
                <br>
                <h4>The Shadow Dom</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>DOM <span class="badge badge-default">Basic</span></p>
                    <p>HTML <span class="badge badge-default">Basic</span></p>
                    <p>CSS <span class="badge badge-default">Basic</span></p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        I was recently reading a book on Angular 2 and came across an HTML concept I had never heard of before - the shadow DOM.  Angular 
                        utilizes the shadow DOM to modularize HTML and CSS code, although you can also use the shadow DOM API in native JavaScript<sup>1</sup>.
                    </p>
                    <p>
                        A shadow DOM results in modularization by removing its contents from the main document object model.  You have to attach the shadow DOM 
                        onto an existing HTML element using the <code>Element.attachShadow()</code> function<sup>2</sup>.  You can then add new HTML code or 
                        <code>&lt;style&gt;</code> elements containing CSS to the shadow DOM.  All of the styles and HTML specified in the shadow DOM will be 
                        hidden from the outer HTML implementation.  You can utilize shadow DOM to avoid CSS style conflicts, HTML <code>id</code> overlap, and 
                        more!
                    </p>
                    <p>
                        Here is an example of some HTML code that creates a shadow DOM (notice that the <code>shadow</code> variable is a new shadow DOM element 
                        and I add to the shadow using <code>innerHTML</code>).
                    </p>
                    <figure>
                        <pre>
                            <code class="language-html" title="HTML" contenteditable="true" spellcheck="false">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta chartset="utf-8"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;!-- This div will be the holder for the shadow dom --&gt;
        &lt;div id="host"&gt;&lt;/div&gt;
        &lt;div&gt;
            &lt;style&gt;
                p {color: red}
            &lt;/style&gt;
        &lt;/div&gt;
        &lt;p&gt;I'm outside the shadow.&lt;/p&gt;
        &lt;script&gt;
            // Attach the shadow dom
            const shadow = document.querySelector("#host").attachShadow({mode: 'open'});

            // Create the shadow dom's contents
            shadow.innerHTML = "&lt;p&gt;I'm in a Shadow!&lt;/p&gt;";
            shadow.innerHTML += `&lt;style&gt;
                            p {
                                font-style: italic;
                                color: #999;
                                font-weight: bold;
                            }
                        &lt;/style&gt;`
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</code>
                        </pre>
                    </figure>
                    <p>
                        The result:
                    </p>
                    <figure id="webresult-image">
                        <img src="webresult.png">
                    </figure>
                    <p>
                        When we look at our browsers developer tools and inspect the HTML, you can see that our shadow DOM is wrapped in a 
                        <code>#shadow-root</code> item, which simply specifies that a shadow DOM exists<sup>3</sup>.
                    </p>
                    <figure id="html-image">
                        <img src="html.png" align="middle">
                    </figure>
                    <p>
                        The ability to modularize an HTML document is awesome!  I will utilize the shadow DOM in my Angular code and look into more native HTML 
                        modularization techniques like reusable custom elements in the future!
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">DOM</span> <span class="badge badge-default">HTML</span> <span class="badge badge-default">CSS</span>
                            <span class="badge badge-default">JavaScript</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Yakov Fain &amp; Anton Moiseev, Angular 2 Development with TypeScript (Shelter Island, NY: Manning, 2017), 84</p>
                        <p>[2] "Shadow DOM", https://developer.mozilla.org/en-US/docs/Web/Web_Components/Shadow_DOM</p>
                        <p>[3] "What is shadow root", https://stackoverflow.com/questions/34119639/what-is-shadow-root</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>