#common-user-image img {
    height: 45.68px;
}

#bulk-insert-image img {
    height: 100px;
}

#common-user-image img, #bulk-insert-image img {
    border: 2px solid #ececec;
    margin: 0 auto;
    margin-bottom: 20px;
}

img {
    margin-top: 15px;
    margin-left: 60px;
}