<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Learning MongoDB Part II: Document Types &amp; Links</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">December 17th, 2017</p>
                <br>
                <h4>Learning MongoDB Part II: Document Types &amp; Links</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>MongoDB <span class="badge badge-default">Basic</span></p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        Regular expressions are very commonly used in my code.  However, their are still certain aspects of them that have remained a mystery 
                        to me.  Today I will explore one new aspect of regular expressions - captures.  I will write the code for captures in JavaScript but 
                        this applies to many languages with regex capabilities (including my main language Java).  Let's dig in.
                    </p>
                    <p>
                        Captures allow us to save pieces of a regular expression so we can use them later on.  For example, it we have a regex that matches 
                        emails, we can capture certain aspects of the email - the local part and the domain.  We can also do the same thing with dates, saving 
                        the day, month, and year.  That is what happens in the following example:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">let date = "02/26/1995";
                                
let pattern = /(\d{1,2})\/(\d{2})\/(\d{4})/;
let captures = date.match(pattern);

console.info(captures); // ["02/26/1995", "02", "26", "1995"]

// The captures can be accessed from the array produced by match()
console.info(`Month: ${captures[1]}, Day: ${captures[2]}, Year: ${captures[3]}`);</code>
                        </pre>
                    </figure>
                    <p>
                        We use the grouping syntax <code>(...)</code> to define a capture.  The value matched inside this capture is then saved into an array 
                        when the <code>match()</code> function is called on the string.  We can then access this arrays elements, as shown on line 9.
                    </p>
                    <p>
                        If we want to use grouping but don't need to capture pieces of our regular expression, JavaScript allows us to specify that a group 
                        shouldn't create a capture with the <code>(?: ...)</code> syntax.  This will result in less work for the languages engine to perform<sup>1</sup>.
                    </p>
                    <figure>
                        <pre class="line-numbers" data-start="11">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">let pattern2 = /(?:\d{1,2})\/(?:\d{2})\/(?:\d{4})/;
let captures2 = date.match(pattern2);
console.info(captures2); // ["02/26/1995"]</code>
                        </pre>
                    </figure>
                    <p>
                        One final thing to explore with captures is backreferences.  This allows us to refer to previous captures created in the same regular 
                        expression<sup>2</sup>.  We can use backreferences to check if the month and day in our dates are equal.  In the following code the <code>\1</code> 
                        token will refer to the contents of the first capture (the dates month) which is defined at runtime.  Now our regular expressions are even 
                        more dynamic!
                    </p>
                    <figure>
                        <pre class="line-numbers" data-start="15">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">let date = "02/26/1995";                               
let date2 = "02/02/2017";

let sameDayMonthPattern = /(\d{1,2})\/\1\/\d{4}/;

let fails = sameDayMonthPattern.test(date);
let succeeds = sameDayMonthPattern.test(date2);

console.info(fails); // false
console.info(succeeds); // true</code>
                        </pre>
                    </figure>
                    <p>
                        You can find the full code from this discovery 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/12-Dec/12-12-JS-Regex-Captures/Source/captures.js">HERE</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">Regular Expression</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] John Resig, Bear Bibeault, &amp Josip Maras, Secrets of the JavaScript Ninja (Shelter Island, NY: Manning, 2016), 274</p>
                        <p>[2] Ibid., 266</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>