<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Java 8 Strategy Design Pattern</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">January 15th, 2018</p>
                <br>
                <h4>Java 8 Strategy Design Pattern</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>Java <span class="badge badge-warning">Intermediate</span></p>
                    <p>Java 8 <span class="badge badge-warning">Intermediate</span></p>
                    <p>Design Pattern <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        Since starting to learn Java 8 features, much of my lambda code has come using the stream API or the new <code>Iterable.forEach()</code> 
                        function.  While this is all great, I have really been looking for ways to integrate Java 8 lambdas with other programming patterns.  
                        While reading a book on Java 8 today I saw one pattern with a lot of potential: the strategy pattern<sup>1</sup>.
                    </p>
                    <p>
                        The strategy design pattern allows you to define a group of algorithms.  One of the algorithms in this group can be selected for use at 
                        runtime<sup>2</sup>.  With a functional interface, we can pass a lambda function (algorithm) to the strategy pattern.  The functional 
                        interface will specify general algorithm structure while the lambda function implements the details at runtime.
                    </p>
                    <p>
                        First I need to specify a functional interface that takes a variable number of <code>double[]</code> arrays and returns a double.                            
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">@FunctionalInterface
public interface CalculateStrategy {
    double execute(double[]... arrs);
}</code>
                        </pre>
                    </figure>
                    <p>
                        Next I implement the strategy pattern<sup>3</sup>.  The constructor takes a lambda expression that specifies the algorithm strategy.  Then the 
                        <code>exec()</code> function executes the strategy with given inputs.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">public class Calculate {
    private CalculateStrategy strategy;

    // On object creation specify which strategy (functional interface) to use
    public Calculate(CalculateStrategy strategy) {
        this.strategy = strategy;
    }

    // Execute the functional interfaces lambda expression implementation
    public double exec(double[]... arrs) {
        return strategy.execute(arrs);
    }
}</code>
                        </pre>
                    </figure>
                    <p>
                        Finally we can execute the strategy pattern with multiple different lambda expressions.  If we needed to execute a strategy on multiple 
                        different data sets, this pattern would help a lot with code reuse!
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">public static void main(String[] args) {
    double[] miles = {2.12, 3.05, 3.05, 2.2, 6.3, 6.5};
    double[] feel = {7,7,6,6,6,6};

    // Calculate the total number of miles run
    Calculate totalMilesCalculator = new Calculate((double[]... array) -> 
                                            DoubleStream.of(array[0]).sum());
    System.out.println(totalMilesCalculator.exec(miles)); // 23.22

    // Calculate the avg feel
    Calculate avgFeelCalculator = new Calculate((double[]... array) -> 
                                            DoubleStream.of(array[0]).average().getAsDouble());
    System.out.println(avgFeelCalculator.exec(feel)); // 6.33

    // Calculate the avg feel for each mile run
    Calculate avgFeelByMilesCalculator = new Calculate((double[]... array) -> {
        double totalMiles = DoubleStream.of(array[0]).sum();
        double milesXfeel = IntStream.range(0, array[0].length)
                                .asDoubleStream()
                                .map(i -> array[0][(int) i] * array[1][(int) i])
                                .sum();
        return milesXfeel / totalMiles;
    });
    System.out.println(avgFeelByMilesCalculator.exec(miles, feel)); // 6.22
}</code>
                        </pre>
                    </figure>
                    <p>
                        You can check out the full code for this example 
                        here.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">Java</span> <span class="badge badge-default">Java 8</span> <span class="badge badge-default">Design Pattern</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Raoul-Gabriel Urma, Mario Fusco &amp; Alan Mycroft, Java 8 In Action (Shelter Island, NY: Manning, 2015), 192</p>
                        <p>[2] "Strategy pattern", https://en.wikipedia.org/wiki/Strategy_pattern</p>
                        <p>[3] Urma., 193</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>