<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 2/17/2018 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What I Have Learned About TravisCI</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">March 9th, 2018</p>
                <br>
                <h4>What I have Learned About TravisCI</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                    <p>Angular <span class="badge badge-default">Basic</span></p>
                    <p>Node.js <span class="badge badge-default">Basic</span></p>
                    <p>MongoDB <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        My MEAN stack prototype was the first personal project that used Continuous Integration (CI).  Continuous Integration is great and 
                        has made me realize that I really should use it on all future projects.
                    </p>
                    <p>
                        So what is CI?  Continuous Integration is the practice of merging code being developed into a main repository often.  On each of these 
                        merges, testing suites and builds should be executed automatically by a tool separate from the main codebase<sup>1</sup>.  This allows 
                        for early detection of bugs and helps avoid the nightmare of backtracking through many commits to see where some functionality broke.  
                        Now each time a commit is done with CI the developers will know if any existing code breaks.  Of course this requires some thorough 
                        testing suites to be created (something I often cut corners on admittedly).
                    </p>
                    <p>
                        So yes, I have a bad habit of thinking about unit/integration testing as an afterthought.  Like any bad habit, it is time to start 
                        breaking it with small baby steps!  The first of those steps includes setting up each project with a CI service, and in this case I 
                        chose TravisCI because of how easily it integrates with GitHub repositories!
                    </p>
                    <p>
                        After you have signed up for 
                        <a href="https://travis-ci.org/">TravisCI</a>  
                        and enabled its support for certain repositories, GitHub will notify Travis each time new commits are 
                        pushed<sup>2</sup>!  I set up TravisCI for both the client side and server side of my MEAN stack prototype.  Let’s take a look at the configuration 
                        file (named .travis.yml) and what it does for each project!
                    </p>
                    <h5>Angular 5 Client</h5>
                    <figure>
                        <pre>
                            <code class="language-yaml" title="YAML" contenteditable="true" spellcheck="false">sudo: required
dist: trusty

addons:
  apt:
    source:
        - google-chrome
    packages:
        - google-chrome-stable

language: node_js
node_js:
    - '9.2'
    - '8.0'

before_install:
    - export CHROME_BIN=chromium-browser
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start

before_script:
    - npm install -g @angular/cli

script:
    - cd web-app
    - npm install
    - ng test --single-run --watch=false --code-coverage
    - npm run build

after_script:
    - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

notifications:
  email:
    recipients:
        - ajarombek95@gmail.com
    on_success: always
    on_failure: always</code>
                        </pre>
                    </figure>
                    <p>
                        So let’s break this file down.  You can see that we set the language being used to a Node.js flavor of JavaScript <code>language: node_js</code> and 
                        we will run the tests on three different Node.js versions.  I did this to test out how backwards compatible my project was!  Even though the project is 
                        an Angular frontend and not Node, I guess specifying the language as Node.js basically tells Travis "This project uses npm."
                    </p>
                    <p>
                        The Angular configuration was a bit more complex than the server side config because of some complexities thanks to Angular CLI.  For whatever reason, you 
                        have to install Chrome in the build in order to get the Karma tests to run properly<sup>3</sup>.  
                    </p>
                    <p>
                        Accomplishing this requires you to use the apt add-on.  This allows us to provide commands to the apt-get package handler for installation<sup>4</sup>.  In 
                        this case I specify that I want to install <code>google-chrome</code> from the <code>google-chrome-stable</code> package.
                    </p>
                    <p>
                        Before the script is run I tell TravisCI to install AngularCLI (<code>npm install -g @angular/cli</code>).  This will allow TravisCI to use the <code>ng</code> 
                        commands in the scripts.  Then in my scripts, I specify that the tests should be run and that a build should be created.  Both of these scripts succeeding defines 
                        the success criteria.  Finally, code coverage statistics are sent to 
                        <a href="https://coveralls.io/">Coveralls</a> 
                        , another really cool tool that easily integrates with GitHub.
                    </p>
                    <p>
                        After TravisCI finishes our scripts, there is an option to send notifications about the build details.  I decided to have emails sent out each time a build finished, 
                        no matter if it succeeded or failed.  Notifications are very easily configurable to fit your needs.
                    </p>
                    <h5>Node.js &amp; Express Server</h5>
                    <figure>
                        <pre>
                            <code class="language-yaml" title="YAML" contenteditable="true" spellcheck="false">language: node_js
node_js:
    - '9.2'
    - '8.0'

services:
    - mongodb

# Put some mock data into MongoDB for testing purposes
# https://docs.travis-ci.com/user/database-setup/#MongoDB
before_script:
    - mongo meowcat --eval 'db.user.insert({_id: '5a9616e6c5631b2e8bd0bd5e',
                                            username: "andy",
                                            first: "Andrew",
                                            last: "Jarombek",
                                            password: "pw",
                                            postCount: 4});'

script:
    - npm run test

after_success:
    - npm run coveralls

notifications:
  email:
    recipients:
        - ajarombek95@gmail.com
    on_success: always
    on_failure: always</code>
                        </pre>
                    </figure>
                    <p>
                        Just by glancing at this code you will see that not much has changed from the Angular frontend TravisCI configuration.  Node.js is used as the language, a test 
                        script is run, and email notifications are sent out on success and failure.
                    </p>
                    <p>
                        One big difference is the use of a service specification.  I tell TravisCI to create a new MongoDB service and then I give it an insert statement to execute 
                        before running my tests<sup>5</sup>.  This is incredibly cool!  Since the Express app consists of REST endpoints that make calls to MongoDB, we can actually 
                        expect endpoints to return exact mock data based on the TravisCI config!  Here is some code in Node.js that runs a test based on the insert statement specified 
                        in the TravisCI configuration:                            
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">const request = require('supertest');
const app = require('../src/app');

// Tests for the user api endpoint '/api/user'
describe("GET '/api/user'", () => {

    /**
     * This test will be successful when run in TravisCI since it is based off mocked data 
     * used there.  It will not (most likely) work in a development environment where the 
     * database has different user documents.
     */
    it('responded with correct JSON from database', () => {
        return request(app).get('/api/user')
            .expect(200, [
                {
                    _id: '5a9616e6c5631b2e8bd0bd5e',
                    username: "andy",
                    first: "Andrew",
                    last: "Jarombek",
                    password: "pw",
                    postCount: 4
                }]);
    });
});</code>
                        </pre>
                    </figure>
                    <p>
                        Now that is powerful stuff!  This is the kinda stuff that makes me realize I need more unit testing in my applications.  The first baby step has been taken, by my 
                        next application hopefully I will have a full fledged test suite with near complete code coverage!  I will be using TravisCI in my projects for the foreseeable future.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">TravisCI</span> <span class="badge badge-default">Continuous Integration</span> 
                            <span class="badge badge-default">YAML</span>
                            <span class="badge badge-default">Angular</span> <span class="badge badge-default">Node.js</span>
                            <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">MongoDB</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "Continuous Integration", https://www.thoughtworks.com/continuous-integration</p>
                        <p>[2] "Travis CI", https://en.wikipedia.org/wiki/Travis_CI</p>
                        <p>[3] "Angular 2 with Travis CI", https://medium.com/from-the-couch/angular-2-with-travis-ci-922040e01937</p>
                        <p>[4] "Installing Packages with the APT Addon", https://docs.travis-ci.com/user/installing-dependencies/#Installing-Packages-with-the-APT-Addon</p>
                        <p>[5] "Setting up Databases: MongoDB", https://docs.travis-ci.com/user/database-setup/#MongoDB</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>