<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 11/6/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Native Getters &amp Setters</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">December 7th, 2017</p>
                <br>
                <h4>Native Getters &amp Setters</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>JavaScript <span class="badge badge-warning">Intermediate</span></p>
                    <p>Java <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        In many languages I have worked with creating getters and setters for private class variables is a common practice.  In Java getters 
                        and setters are implemented as two functions which can be called directly on an object instance.  They are commonly used in the POJO 
                        structure.  In JavaScript getters and setters have native support in the language itself.  You can create these getters and setters 
                        with the <code>get</code> and <code>set</code> keywords.  They are commonly used for computing properties, as shown in the next example.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var person = {
    _first: 'Andy',
    _last: 'Jarombek',
    get full() {
        console.info('Accessing Full Name');
        // Use ES6 template literals
        return `${this._first} ${this._last}`;
    }
};</code>
                        </pre>
                    </figure>
                    <p>
                        You can also use setters to perform validation on incoming data.  In the dynamically typed JavaScript language we can implement a 
                        strictly typed variable<sup>1</sup>:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var person = {
    _first: 'Andy',
    _last: 'Jarombek',
    set first(str) {
        console.info('Setting First Name');
        if (typeof str === 'string' || str instanceof String) {
            var s = str.toLowerCase();
            this._first = s.charAt(0).toUpperCase() + s.slice(1);
        } else {
            throw new TypeError('First Name Must be a String');
        }
    }
};</code>
                        </pre>
                    </figure>
                    <p>
                        You can see that we can perform any sort of logic inside our getters and setters.  To make things even nicer we don't have to call a function to 
                        use our native getters and setters.  We just have to assign a value or access a property just like any normal object property!
                    </p>
                    <p>
                        Out of all the other languages I use, the only other one with native getter and setter support like JavaScript is Swift<sup>2</sup>.  You can check out the 
                        full getter and setter code in both languages 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/12-Dec/12-7-Native-Getter-Setter/Source">HERE</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">Java</span> 
                            <span class="badge badge-default">Swift</span> <span class="badge badge-default">Getter &amp Setter</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] John Resig, Bear Bibeault, &amp Josip Maras, Secrets of the JavaScript Ninja (Shelter Island, NY: Manning, 2016), 207</p>
                        <p>[2] Matthew Mathias &amp John Gallagher, Swift Programming: The Big Nerd Ranch Guide (Atlanta, GA: Big Nerd Ranch, 2016), 194</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>