<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 11/6/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ES6 Modules Run with Babel</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">November 10th, 2017</p>
                <br>
                <h4>ES6 Modules Run with Babel</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>JavaScript <span class="badge badge-warning">Intermediate</span></p>
                    <p>ECMAScript 6 <span class="badge badge-default">Basic</span></p>
                    <p>Node.js <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        In my last discovery I went over the 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-9-JS-Closure-Modules">revealing module pattern in JavaScript.</a>  
                        Now I will recreate the same API with ES6 modules.  The API code will look familiar:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">export function lyrics(song) {
  switch(song.toLowerCase()) {
  	case "sparks fly":
    	return lyric.sparks;
		case "mine":
    	return lyric.mine;
    case "back to december":
    	return lyric.dec;
    default:
    	return lyric.other;
  }
}

var lyric = {
  sparks: "I see sparks fly whenever you smile",
  mine: "You are the best thing thats ever been mine",
  dec: "I go back to Decemeber all the time",
  other: "I'm sorry, taylor can't pick up the phone right now"
}</code>
                        </pre>
                    </figure>
                    <p>
                        The only difference with our API is the <code>export</code> keyword.  This new keyword in ES6 will reveal the function to other JavaScript code that imports 
                        this module.  Each JavaScript file can be a module if it exports functions/variables, but there can’t be more than one module in a file.  You can however 
                        have multiple exports.  Since one file is one and only one module, the name of the module is the filename. Now let’s check out the module import code:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">import * as ts from './taylorSwift';</code>
                        </pre>
                    </figure>
                    <p>
                        Here we <code>import *</code> (all variables/functions in the module) from the <code>taylorSwift</code> module and give it the alias <code>ts</code>.  
                        We can then call the <code>ts.lyrics()</code> function.
                    </p>
                    <figure>
                        <pre class="line-numbers" data-start="3">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">console.info(ts.lyrics("Sparks Fly"));</code>
                        </pre>
                    </figure>
                    <p>
                        If you tried running this code in many environments it would fail.  Many JavaScript engines are not ES6 compliant (including my version of Node.js!).  
                        Therefore when I try to run my main.js file (containing the input code) I get an error:
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$" data-output="2-4">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">node main.js
import * as ts from 'taylorSwift';
^^^^^^
SyntaxError: Unexpected token import</code>
                        </pre>
                    </figure>
                    <p>
                        Okay so that didn’t work.  We can however get this code to work by jumping through some hoops.  The tool to get the job done is Babel, 
                        and it is a JavaScript transpiler.
                    </p>
                    <p>
                        The way we are going to get our ES6 code to work in all environments is by converting the code to its ES5 equivalent (or as close as possible).  This would 
                        be quite the task to do manually for all our code, so we let Babel do the work for us.  Transpile is a combination of the words translate and compile.  
                        So Babel (the compiler) converts (translates) our ES6 code to ES5.
                    </p>
                    <p>
                        Let’s get to work.  Since I’m using Node.js I need to set up my dependency manager and install Babel<sup>1</sup>.
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">npm install --save-dev babel-cli
npm install babel-preset-env --save-dev</code>
                        </pre>
                    </figure>
                    <p>
                        I then need to configure Babel by creating a .babelrc file.  In this JSON file I set “presets” to “env” which lets Babel automatically determine the Babel 
                        plugins I need to perform the transpiling based on my environment<sup>2</sup>. 
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-json" title="JSON" contenteditable="true" spellcheck="false">{
    "presets": ["env"]
}</code>
                        </pre>
                    </figure>
                    <p>
                        Now when I got to this point I thought “great I’m done! Let’s run the code!”  Unfortunately I forgot to actually tell Babel which files to convert to ES5.
                        One way to do this is like so:
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">npx babel main.js --out-file es5/main.js</code>
                        </pre>
                    </figure>
                    <p>
                        I am telling Babel to take main.js and transpile it to a file of the same name in a folder called es5 (note: <code>npx</code> is not a typo – install 
                        it with <code>npm install –g npx</code> to simplify Babel commands).
                    </p>
                    <p>
                        There is however a better way of doing this.  You can actually ask Babel to watch your ES6 files for changes.  When a change is made, the code is 
                        automatically transpiled to the output file.
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">npx babel main.js --watch --out-file es5/main.js &
npx babel taylorSwift.js --watch --out-file es5/taylorSwift.js &</code>
                        </pre>
                    </figure>
                    <p>
                        You can see I added the ampersand to the end of these commands to place these tasks in the background.  This is so the bash shell will not be blocked 
                        and I can continue to execute commands in one window.  You can kill these background tasks at any time with their job number<sup>3</sup>:
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false"># Kill the task by job number (in this case 1)
kill %1</code>
                        </pre>
                    </figure>
                    <p>
                        Now we finally did it!
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$" data-output="2">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">node es5/main.js
I see sparks fly whenever you smile</code>
                        </pre>
                    </figure>
                    <p>
                        If we look at the transpiled ES5 code you can see that Babel is using CommonJS for the modules.  This is the library that Node.js uses for 
                        modules in pre-ES6 code.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var _taylorSwift = require("./taylorSwift");</code>
                        </pre>
                    </figure>
                    <p>
                        Whew that was a lot of work to just see some sparks fly using ES6!  Obviously it is not practical to transpile ES6 code for such a small codebase, but for larger 
                        projects you don’t want to be held back from newer JavaScript versions because of the environment you are using.  I will be using Babel for many projects in 
                        the future.  You can find all the code in this demo 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-10-ES6-Modules-Babel/Source ">HERE</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">ECMAScript 6</span>
                            <span class="badge badge-default">Node.js</span> <span class="badge badge-default">Babel</span> <span class="badge badge-default">Transpiler</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "Using Babel", https://babeljs.io/docs/setup/#installation</p>
                        <p>[2] "Env preset", https://babeljs.io/docs/plugins/preset-env/</p>
                        <p>[3] "linux: kill background task", October 26th, 2009, https://stackoverflow.com/questions/1624691/linux-kill-background-task</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>