#meowcat-image img {
    height: 220px;
}

#meanstack-image img {
    height: 340px;
}

#maincomponent-image img {
    height: 500px;
}

#logincomponent-image img {
    height: 500px;
}

#signupcomponent-image img {
    height: 600px;
}

#meowcat-image, #meanstack-image, #maincomponent-image, #logincomponent-image, #signupcomponent-image {
    width: 100%;
}

img {
    display: inherit;
    margin: 0 auto;
    padding: {
        top: 20px;
        bottom: 20px;
    }
}