<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Angular 5 First Impressions</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">January 6th, 2018</p>
                <br>
                <h4>Angular 5 First Impressions</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>Angular <span class="badge badge-default">Basic</span></p>
                    <p>TypeScript <span class="badge badge-default">Basic</span></p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        Recently I have been learning different JavaScript technologies to build a website.  I have looked into Node.js and MongoDB for my 
                        back-end and database.  Now it is time to switch to the front-end JavaScript technologies.  The two top picks for front-end frameworks 
                        is Angular and React.js.  Today I will begin to look at Angular and if it will be a suitable option for my website.  This post won't 
                        look at too much code but instead cover my initial reactions to the framework.
                    </p>
                    <h5>Angular CLI</h5>
                    <p>
                        I struggled for a very long time getting all my Angular dependencies set up.  I wanted to do it all manually to start just so I could 
                        get to know the framework better.  I messed around with this for a few hours and eventually gave up.  The problem was my Angular "hello 
                        world" code returned a blank screen with no error messages (which is quite hard to debug).  I decided that I was in over my head with 
                        this framework and had to choose an easier entry approach.
                    </p>
                    <p>
                        Luckily there is an easier option - the Angular CLI.  Angular CLI will build a new Angular project for you, create new components, run 
                        the server and more<sup>1</sup>.  Angular CLI is also a wrapper around Webpack so it does all the module building for you<sup>2</sup>.  
                        I don't yet know the details of Webpack so for now it is nice that the process is done for me.  Later on however I'm sure I would like 
                        to have more control of the building of my project.
                    </p>
                    <p>
                        The nice thing about Angular CLI is how easy it is to setup a new project.  After installing it from npm, creating and running a new Angular 
                        project is as easy as the following two Bash commands.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false"># Create a new Angular project with name 'developer'
ng new developer

# Start the Angular project on a server
ng serve</code>
                        </pre>
                    </figure>
                    <p>
                        The one thing that annoyed me about Angular CLI is how much content they put into the base Angular project.  The bloat included fully 
                        set up testing suites (multiple), fully populated gitignore file, and more.  For someone who likes to customize my own project, this was 
                        overkill.  I ended up deleting most of these files to get only the necessary components.                         
                    </p>
                    <h5>TypeScript Language</h5>
                    <p>
                        The creators of Angular suggest that you use TypeScript, a superset of JavaScript that is statically typed.  You can also use JavaScript, 
                        but I've decided to follow the advice and try TypeScript out.  So far I have found it to be more detrimental than beneficial. 
                    </p>
                    <p>
                        It is said that TypeScript is a true superset of JavaScript such that all JavaScript code is valid TypeScript code.  However in my first 
                        attempts at the language I had trouble using JavaScript features in TypeScript.  For example when using a <code>RegExp</code> in 
                        TypeScript I got errors saying that its JavaScript functions did not exist.  This may be simply user error, but so far TypeScript has 
                        not been the smooth transition it is advertised to be.
                    </p>
                    <p>
                        Also, using TypeScript in my front-end would end my truly full JavaScript web stack.  Although TypeScript is very similar to JavaScript, I 
                        would still have to adjust to using two different languages when developing.  As my TypeScript experience grows I will see if I start 
                        seeing some benefits of the language.
                    </p>
                    <h5>Modules &amp; Components</h5>
                    <p>
                        This post has been fairly negative, so I will take a break from that and look at some exciting things about Angular that I can't wait to 
                        get my hands on.  Angular at its core is made up of modules that contain components, directives, services, etc<sup>3</sup>.  When working 
                        with AngularJS a bit in the past I always liked the modularized structure of my JavaScript compared to the spaghetti code style of old.  
                        Angular 5 seems to be even more modularized then that, which at first glance looks nice.  
                    </p>
                    <p>
                        My hello world type Angular project contains one module.  It is exported for use in other classes.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-typescript" title="TypeScript" contenteditable="true" spellcheck="false">import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { DeveloperComponent } from './app.component';
import { ValidDevDirective } from './valid-dev.directive';

// Wrap our component and directive into a module.  
// Each file can be one module which can be exported.
// You must import BrowserModule in the root module
@NgModule({
    imports: [BrowserModule],
    declarations: [DeveloperComponent, ValidDevDirective],
    bootstrap: [DeveloperComponent]
})
export class AppModule { }</code>
                        </pre>
                    </figure>
                    <p>
                        The <code>@NgModule</code> annotation specifies that this class is an Angular module.  Note that just like ES6 classes, TypeScript 
                        classes are not true classes.  They are transpiled into JavaScript prototypes and are simply syntactic sugar.
                    </p>
                    <p>
                        The annotations object has a declarations property that specifies all the members of the module<sup>4</sup>.  These two declarations 
                        are what we will look at next.
                    </p>
                    <p>
                        The first module member is a Component named <code>DeveloperComponent</code>.  A component has a TypeScript class defining model data 
                        and a view (which in my case is HTML).  
                    </p>
                    <figure>
                        <pre>
                            <code class="language-typescript" title="TypeScript" contenteditable="true" spellcheck="false">import { Component } from '@angular/core';

// Create a new Angular component which can be used in HTML with the 'developer' tag
// Angular uses annotations as metadata
@Component({
    selector: 'developer',
    templateUrl: 'app.component.html'
})
export class DeveloperComponent {
    dev: string;

    constructor() {
        this.dev = 'Andy';
    }
}</code>
                        </pre>
                    </figure>
                    <p>
                        The awesome thing about components is that you can place them in your HTML as a tag using the name defined in the 
                        <code>@Component</code> annotations <code>selector</code> property.  The component's HTML is defined in the <code>template</code> or 
                        <code>templateUrl</code> property and will render on your webpage at runtime.
                    </p>
                    <p>
                        For example my code has an index.html file like so:                        
                    </p>
                    <figure>
                        <pre>
                            <code class="language-html" title="HTML" contenteditable="true" spellcheck="false">&lt;body&gt;
    &lt;developer&gt;&lt;/developer&gt;
&lt;/body&gt;</code>
                        </pre>
                    </figure>
                    <p>
                        When rendered in the browser, the <code>&lt;developer&gt;</code> tag will be replaced with the markup defined in my component:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-html" title="HTML" contenteditable="true" spellcheck="false">&lt;div&gt;
    &lt;h1&gt;
        Hello {{ dev }}!
    &lt;/h1&gt;
    &lt;p&gt;Enter a developer name:&lt;/p&gt;
    &lt;div&gt;
        &lt;input type="text" name="devInput" valid-dev&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
                        </pre>
                    </figure>
                    <p>
                        Another cool thing to notice is that the line <code>{{dev}}</code> in the HTML will be replaced with the variables value defined in the 
                        TypeScript component class.  This binding between the HTML and TypeScript model creates many possibilities for dynamic webpages that I 
                        can't wait to fully explore!
                    </p>
                    <h5>Directives</h5>
                    <p>
                        The second module member is a directive called <code>ValidDevDirective</code>.  A directive is like a component except that it has no 
                        view and is placed on an existing HTML element<sup>5</sup>.  If you look back to the HTML input tag of my component you will see an attribute called 
                        <code>valid-dev</code>.  This attribute is defined in my directive, which right now changes the border color of the input field when a 
                        value is entered.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-typescript" title="TypeScript" contenteditable="true" spellcheck="false">import { Directive, ElementRef, Renderer2 } from '@angular/core';
                                    
@Directive({
    selector: 'input[valid-dev]',
    host: {
        '(input)': 'onInput($event)'
    }
})
export class ValidDevDirective {
    renderer: any;
    element: any;

    constructor(renderer: Renderer2, element: ElementRef) {
        this.renderer = renderer;
        this.element = element;

        this.style('#ccc')
    }

    // When the value in the input field changes, check its contents
    onInput(event) {
        let value: string = event.target.value;

        if (value === '') {
            this.style('#ccc')
        } else {
            this.style('black')
        }
    }

    style(color) {
        this.renderer.setStyle(this.element.nativeElement, 'border-color', color)
    }
}</code>
                        </pre>
                    </figure>
                    <p>
                        Obviously this is a very trivial implementation, but it is cool how you can extend the implementation of any HTML element.  Also the 
                        fact that directives an components are reusable makes them easy to use throughout a project.  Just like components I am excited to 
                        try out more complex implementations.
                    </p>
                    <h5>Wrapping Up</h5>
                    <p>
                        So this was a quick glance at how my first attempts at Angular 5 went.  I am not convinced it is the solution for me yet, but 
                        there is still a lot of work and exploring to do.  Up next I will start building a full Angular project!
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">Angular</span> <span class="badge badge-default">TypeScript</span> <span class="badge badge-default">JavaScript</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "The Ultimate Angular CLI Reference Guide", https://www.sitepoint.com/ultimate-angular-cli-reference/</p>
                        <p>[2] "To use Angular CLI or not?", https://medium.jonasbandi.net/to-use-angular-cli-or-not-187f87d0b550</p>
                        <p>[3] Yakov Fain &amp; Anton Moiseev, Angular 2 Development with TypeScript (Shelter Island, NY: Manning, 2017), 32</p>
                        <p>[4] Ibid., 33</p>
                        <p>[4] Ibid., 35</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>