/*
 * Styles for the tag html document
 * Author: Andrew Jarombek
 * Date: 1/12/2019
 */

@font-face {
    font-family: Longway;
    font-weight: bold;
    src: url("https://asset.jarombek.com/fonts/Longway-Regular.otf") format("opentype");
}

/* Layout for all browsers */
div {
    font-family: 'Longway', Helvetica, sans-serif;
    font-size: 28px;
    color: #333;

    background-color: #ddd;
    border-radius: 2px;
    padding: 5px;
    height: 50px;

    transition: all .4s ease;
}

div:hover {
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.5);
}

img {
    height: 40px;
    max-width: 40px;
}

p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Layout for CSS Grid supporting browsers */
@supports (grid-area: auto) {
    body {
        display: grid;
        align-items: center;
        justify-items: center;
        height: calc(100vh - 16px);
    }

    div {
        display: grid;
        grid-template-rows: [top] 100% [bottom];
        grid-template-columns: [image] 40px [label] calc(100% - 39px) [end];
    }

    figure {
        grid-area: top / image / bottom / label;
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    p {
        grid-area: top / label / bottom / end;
        justify-self: center;
        align-self: center;
        margin: 0;
        padding-bottom: 6px;
    }
}

/* Layout for legacy browsers */
@supports not (grid-area: auto) {
    body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div {
        display: table;
    }

    figure {
        display: table-cell;
        vertical-align: middle;
    }

    p {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 6px;
    }
}