<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 11/6/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Understanding "this" in JavaScript</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">November 11th, 2017</p>
                <br>
                <h4>Understanding "this" in JavaScript</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>JavaScript <span class="badge badge-warning">Intermediate</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        The <code>this</code> keyword in JavaScript is a piece of the language that has always confused me.  It doesn't work like 
                        <code>this</code> in Java where it refers to the method or constructors object.  Often in the past when using <code>this</code> 
                        I have taken shortcuts such as the popular <code>var self = this;</code> so I wouldn't have to worry about what value 
                        <code>this</code> holds in nested functions.
                    </p>
                    <p>
                        What makes <code>this</code> so confusing is that it is set during program runtime instead of defined at author time<sup>1</sup>.  In other words it 
                        does not follow the rules of 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-8-JS-Scope-Hoisting/View/scope-hoisting.html">lexical scope</a> 
                        that I am comfortable with.  It also is incredibly daunting for new programmers since the value 
                        of <code>this</code> can potentially be different when calling the same function at different instances.
                    </p>
                    <p>
                        So what are the rules for <code>this</code>?  If you are in the global scope it refers to the global object, which will be different depending 
                        on the environment you are running JavaScript in.  For example if you are running JavaScript in your browser, this will be the window object.
                    </p>
                    <p>
                        There is an exception to this rule though.  If you are using strict mode, a function won't default its <code>this</code> binding to the global 
                        object and instead will return <code>undefined</code>.  The following example shows an IIFE (Immediately Invoked Function Expression) that 
                        is set to strict mode so <code>this</code> is set to <code>undefined</code>. However, if we removed <code>'use strict';</code> it would 
                        return the global object.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">(function() {
  'use strict';
  
  console.info(this);
})();</code>
                        </pre>
                    </figure>
                    <p> 
                        You can imagine how confusing it would be dealing with <code>this</code> if some parts of the code were in strict mode and others weren't.  
                        Beacuse of this (and potentially more confusing cases I haven't discovered yet) having different pieces of a codebase be strict while others 
                        are not is considered bad practice<sup>2</sup>.
                    </p>
                    <p>
                        You can also explicity define the value of <code>this</code> when calling a function with the <code>call()</code>, <code>apply()</code> and 
                        <code>bind()</code> functions.  All objects that have Object.prototype on their prototype chain will have these functions<sup>3</sup>.  Both 
                        functions take a parameter which is the value you want to set to <code>this</code>.  The difference is that while <code>call()</code> and 
                        <code>apply()</code> bind the <code>this</code> value for this one call, <code>bind()</code> creates an immutable bind for all future calls.  
                        First lets look at an example of <code>call()</code>:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">function name() {
  console.info(this.username);
}

var user = {
  username: "Andy"
}

name(); // undefined
name.call(user); // Andy</code>
                        </pre>
                    </figure>
                    <p>
                        In is example instead of the function call defaulting to the global scope for <code>this</code>, we manipulate it and pass in an object 
                        <code>user</code> to bind to <code>this</code>.  Now lets look at <code>bind()</code>:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var n = name.bind(user); // Andy</code>
                        </pre>
                    </figure>
                    <p>
                        The result we get back from the <code>bind()</code> function is a function itself.  The above code is the equivalent of:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var n = function _n() {
  name.call(user);
}</code>
                        </pre>
                    </figure>
                    <p>
                        When we call the function created by <code>bind()</code> the <code>this</code> value we passed to it is used.  You can also see if we try and change 
                        the value of <code>this</code>, we are unable to:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var secondUser = {
  username: "Joe"
}

n.call(secondUser);
n.bind(secondUser);
n(); // Andy</code>
                        </pre>
                    </figure>
                    <p>
                        Another way to manipulate <code>this</code> is by performing a constructor call on an object with the <code>new</code> keyword.  In this 
                        case <code>this</code> is set to the newly created object<sup>4<sup>.
                    </p>
                    <p>
                        Finally if you call a function in the context of an object, that object is used as the value for <code>this</code>.  Here is an example:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var n = name.bind(user); // Andy</code>
                        </pre>
                    </figure>
                    <p>
                        You can see that we make the call <code>user.name();</code> in the context of the <code>user</code> object, so the value of <code>this.username</code> 
                        is the one defined in <code>user</code>.  Of course you can overwrite this rule if you explicitly bind <code>this</code> using the <code>call()</code> function
                    </p>
                    <p>
                        In my opinion if you have a team of developers that understand how <code>this</code> works then by all means use it!  However if you are on a team of people who are 
                        new to JavaScript it may be smart to avoid it.  I do agree with Kyle Simpson that <code>self = this</code> is a confusing hack around practice that shouldn't be used
                        <sup>5</sup>.  You can find the source code for the examples I used 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-11-JS-This/Source/this.js">HERE</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">JavaScript</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "this", https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this</p>
                        <p>[2] Kyle Simpson, You Don't Know JavaScript: this & Object Prototypes (Beijing: O'Reilly, 2014), 14</p>
                        <p>[3] "Object.prototype", https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/prototype</p>
                        <p>[4] Simpson., 22</p>
                        <p>[5] Simpson., 33</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>