<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 1/30/2018 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Java 8 Optionals</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">January 30th, 2018</p>
                <br>
                <h4>Java 8 Optionals</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>Java <span class="badge badge-warning">Intermediate</span></p>
                    <p>Java 8 <span class="badge badge-warning">Intermediate</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        For anyone who has ever written code in Java (or most imperative and object oriented languages) you know the pain of dealing with 
                        <code>null</code> values.  These <code>null</code> values are especially painful in Java since they throw a 
                        <code>NullPointerException</code> whenever we want to perform operations on them.  When we see a <code>NullPointerException</code> in 
                        our code, the usual fix is to perform a null check similar to the following code snippet:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">String str = "Hello";
                                    
if (str != null) {
    hello.toUpperCase();
}</code>
                        </pre>
                    </figure>
                    <p>
                        <code>null</code> has some other issues besides uglifying our code by littering it with null checks.  As explained in a book 
                        I was reading recently on Java 8, <code>null</code> actually doesn't follow the statically typed system that Java uses<sup>1</sup>.  It 
                        is the wrong way of representing the absence of a value.
                    </p>
                    <p>
                        Upgrades in Java 8 allow you to implement missing values in a statically typed manner with the <code>Optional&lt;T&gt;</code> class.  
                        The <code>Optional</code> object wraps a value, which can be either present or absent (an absent value is simply <code>null</code>).  Now instead of performing 
                        null checks, you can simply interact with the <code>Optional</code> class.
                    </p>
                    <p>
                        In this discovery I am going to build an API for athletes in Java using the <code>Optional</code> method for null values.  There are a 
                        couple of methods in the <code>Optional</code> class that we need to be familiar with before getting started:
                    </p>
                    <h6>static Optional&lt;T&gt; empty()</h6>
                    <p>
                        The <code>empty()</code> static method returns an empty <code>Optional</code> instance.  This is the equivalent of a <code>null</code> 
                        value in a strictly typed setting.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">// Represent an Optional with an absent value
Optional<String> empty = Optional.empty();
System.out.println(empty); // Optional.empty</code>
                        </pre>
                    </figure>
                    <h6>static Optional&lt;T&gt; of(T value)</h6>
                    <p>
                        Wraps the argument value in the <code>Optional</code> object.  However, if you pass <code>null</code> to the <code>of()</code> static 
                        method it will throw a <code>NullPointerException</code>.  Only use <code>of()</code> if you know that the value being passed is not 
                        <code>null</code>.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">// If the Optional value is present, perform the Consumer method reference
Optional<String> present = Optional.of("I am not null!");
present.ifPresent(System.out::println); // I am not null!</code>
                        </pre>
                    </figure>
                    <h6>static Optional&lt;T&gt; ofNullable(T value)</h6>
                    <p>
                        Performs the same operation as <code>of()</code> except if the value is absent no error will be thrown and an empty <code>Optional</code> 
                        object will be returned.
                    </p>
                    <h6>void ifPresent(Consumer&lt;T&gt; consumer)</h6>
                    <p>
                        If an optional's value is present, this method will perform the actions specified by the consumer argument.  This can be a lambda function or method reference.
                    </p>
                    <h6>boolean isPresent()</h6>
                    <p>
                        Returns whether the optional's value is present.
                    </p>
                    <h6>T orElse(T other)</h6>
                    <p>
                        If the optional's value is present, return its value.  Otherwise, return the value specified as an argument.
                    </p>
                    <h5>Athlete API</h5>
                    <p>
                        Now let's take a quick look at the API.  If you want the full code it is available on GitHub.
                    </p>
                    <h5><code>Required</code> class</h5>
                    <p>
                        The first thing I created for this API was a helper class for dealing with values that should not be <code>null</code>.  When calling a 
                        getter or setter on a POJO, there is nothing really stopping users from entering an empty value by default.  You can however add some 
                        validation logic to make sure that the value passed is not empty.  If it is equal to <code>null</code> you can either throw an error or 
                        assign that variable some default value.  This code would probably contain some null checks like discussed earlier.  We don't want our 
                        API littered with these checks!
                    </p>
                    <p>
                        Instead we will use optionals to check for value existence.  The following class is used in my getters and setters to check for value 
                        existance.  You can see that if the value entered is <code>null</code> we throw an error using a variation of the <code>orElse()</code> 
                        method called <code>orElseThrow()</code>:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">public class Required&lt;T&gt; {
                                    
    /**
     * Validate that a value exists otherwise throw an error
     * @param input - the value to check for existence
     * @return The input value if it exists
     */
    public T error(T input) {
        return Optional.ofNullable(input)
           .orElseThrow(() -> new Error("Unable to Set Required Field to null"));
    }

    /**
     * Validate that a value exists otherwise throw an error
     * @param input - the value to check for existence
     * @param name - the name of the value for error messaging purposes
     * @return The input value if it exists
     */
    public T error(T input, String name) {
        return Optional.ofNullable(input)
           .orElseThrow(() -> new Error("Unable to Set Required Field '" + name + "' to null"));
    }
}</code>
                        </pre>
                    </figure>
                    <h5><code>Athlete</code> class</h5>
                    <p>
                        The athlete class is the heart of the API.  It holds information such as the athletes name, age, team, personal records, and exercise 
                        history.  All of this information is contained in instance variables, some of which are optional.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">public class Athlete {
                                    
    // Instance variables exposed via getters and setters for the API
    private String firstName;
    private String lastName;
    private Optional<Integer> age;
    private Optional<String> team;

    private ArrayList<Log> logs = new ArrayList&lt;&gt;();
    private HashMap<String, String> prs = new HashMap&lt;&gt;();

    ...
}</code>
                        </pre>
                    </figure>
                    <p>
                        If you had this code in an IDE you would probably get a complaint on the <code>Optional</code> instance variables.  This is because the 
                        new <code>Optional</code> class was not meant to be used as a field type.  It also does not implement the <code>Serializable</code> 
                        interface, which could cause issues in some applications<sup>3</sup>.  In most cases however I fall among the group of developers that 
                        think using the <code>Optional</code> class with instance variables can greatly increase the readability of an API.  Just be aware of 
                        its limitations!
                    </p>
                    <p>
                        Next I have two athlete constructors:  
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">public Athlete(String firstName, String lastName) {
    this.firstName = Optional.ofNullable(firstName).orElse("Foo");
    this.lastName = Optional.ofNullable(lastName).orElse("Bar");
}

public Athlete(String firstName, String lastName, Integer age) {
    this.firstName = Optional.ofNullable(firstName).orElse("Foo");
    this.lastName = Optional.ofNullable(lastName).orElse("Bar");
    this.age = Optional.ofNullable(age);
}</code>
                        </pre>
                    </figure>
                    <p>
                        For the <code>age</code> parameter I simply wrap it in an <code>Optional</code> because it's instance variable is of type 
                        <code>Optional&lt;Integer&gt;</code>.  For the other two parameters I am assigning them to concrete types.  Therefore I want to check if 
                        their value is empty, and if it is give the instance variable a default value.  This is where the <code>orElse()</code> methods come in.
                    </p>
                    <p>
                        After the constructors I have getters and setters for the instance variables.  Most of them are not interesting, but here are a few that 
                        utilize the <code>Required</code> class that I showed off earlier.  These setters check for the existance of a variable, and if it is 
                        empty throw an error.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">private Required&lt;String&gt; requiredString = new Required&lt;&gt;();
private Required&lt;ArrayList&lt;Log&gt;&gt; requiredArrayList = new Required&lt;&gt;();
private Required&lt;HashMap&lt;String, String&gt;&gt; requiredHashMap = new Required&lt;&gt;();

public void setFirstName(String firstName) {
    this.firstName = requiredString.error(firstName, "firstName");
}

public void setLastName(String lastName) {
    this.firstName = requiredString.error(lastName, "lastName");
}

public void setLogs(ArrayList&lt;Log&gt; logs) {
    this.logs = requiredArrayList.error(logs, "logs");
}

public void setPrs(HashMap&lt;String, String&gt; prs) {
    this.prs = requiredHashMap.error(prs, "prs");
}</code>
                        </pre>
                    </figure>
                    <p>
                        I also have a method that allows you to add a personal record to the <code>prs</code> hash map.  It utilizes short circuiting and the 
                        <code>isPresent()</code> method to add the new PR if both of the functions arguments exist and returns whether or not the value was 
                        added successfully.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">/**
* Add a new PR to the hash map for this athlete
* @param event - the event name
* @param time - the time of the PR
* @return whether or not the PR was added
*/
public boolean addPr(String event, String time) {

    // Last get() is necessary because put() returns null if the keys previous value was null
    return (Optional.ofNullable(event).isPresent() && Optional.ofNullable(time).isPresent() &&
            (Optional.ofNullable(this.prs.put(event, time)).isPresent() || 
            Optional.ofNullable(this.prs.get(event)).isPresent()));
}</code>
                        </pre>
                    </figure>
                    <h5><code>Main</code> class</h5>
                    <p>
                        The main class executes our API.  The only new piece here is the <code>ifPresent()</code> method which I use to print out the value if 
                        it exists (and avoid a null check!).
                    </p>
                    <figure>
                        <pre>
                            <code class="language-java" title="Java" contenteditable="true" spellcheck="false">public static void main(String... args) {
    Athlete athlete = new Athlete("andy", "jarombek");

    athlete.setAge(Optional.of(22));

    // athlete.setFirstName(null); - Unable to Set Required Field 'firstName' to null
    athlete.setFirstName("andrew");

    // Check to see if adding PR's are successful
    boolean validPR = athlete.addPr("5000m", "15:27");
    boolean invalidPR = athlete.addPr(null, "15:27");

    System.out.println("Valid PR Succeeded: " + validPR);
    System.out.println("Invalid PR Succeeded: " + invalidPR);

    // Safely try and get a value from a map with Optionals
    Optional<String> value = Optional.ofNullable(athlete.getPrs().get("5000m"));
    value.ifPresent(System.out::println);

    System.out.println(athlete);

    Athlete noNameAthlete = new Athlete(null, null);
    System.out.println(noNameAthlete);
}</code>
                        </pre>
                    </figure>
                    <figure>
                        <pre class="command-line" data-prompt="$" data-output="1-6">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">Valid PR Succeeded: true
Invalid PR Succeeded: false
15:27
Athlete(firstName=andrew, lastName=jarombek, age=Optional[22], prs={5000m=15:27} ...)
Athlete(firstName=Foo, lastName=Bar, age=null, prs={}, ...)</code>
                        </pre>
                    </figure>
                    <p>
                        I really am liking the new <code>Optional</code> class in Java.  I have already started using it in some of my Java code!
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">Java</span> <span class="badge badge-default">Java 8</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Raoul-Gabriel Urma, Mario Fusco &amp; Alan Mycroft, Java 8 In Action (Shelter Island, NY: Manning, 2015), 228</p>
                        <p>[2] Ibid., 240</p>
                        <p>[3] Ibid., 236</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>