/*
 * Styles for the Lifecycle component
 * Author: Andrew Jarombek
 * Date: 1/7/2019
 */

.lifecycle {
    font-family: 'Longway', Helvetica, sans-serif;
    font-size: 18px;
    color: #333;

    background-color: #ddd;
    border-radius: 2px;

    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

    transition: all .4s ease;
}

.lifecycle:hover {
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.5);
}

.lifecycle-parameters, .lifecycle-event {
    font-family: 'Fantasque-Bold', Helvetica, sans-serif;
}