<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 12/12/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First Look at RabbitMQ</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">January 24th, 2018</p>
                <br>
                <h4>First Look at RabbitMQ</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>RabbitMQ <span class="badge badge-default">Basic</span></p>
                    <p>Message Broker <span class="badge badge-default">Basic</span></p>
                    <p>Python <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        Recently for work I’ve had to look into RabbitMQ, a message broker that you can use to communicate between different parts of your 
                        application.  An analogy that I really like is that RabbitMQ is like putting a post office in your application - you can have producers 
                        put messages in the post offices queue and have these messages routed to consumers<sup>1</sup>.  
                    </p>
                    <p>
                        The configuration for RabbitMQ can be written in any language with a RabbitMQ library (which consists of most languages you know).  This 
                        is extremely powerful since you could have different pieces of the RabbitMQ channel in different languages.  For example, let’s say your 
                        RabbitMQ server has one producer and three consumers.  Your message producer might be written in Java, while your consumers are written 
                        in JavaScript, Python, and PHP.  Imagine all the different possibilities of sending RabbitMQ messages across applications!
                    </p>
                    <p>
                        In order to get to know RabbitMQ better, I made an enhanced hello world type example where producers can send JSON representing running 
                        logs to different consumers.  All the code is in Python, since the RabbitMQ Python API is very short and sweet!  Let’s take a look!
                    </p>
                    <h5>Producer</h5>
                    <p>
                        My producer starts by taking command line arguments and converting them to JSON.  This will be the body of the message sent across the 
                        RabbitMQ channel.  It will also take some of the arguments to form the routing key, which in context of the post office analogy is like 
                        the mailing address.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-python" title="Python" contenteditable="true" spellcheck="false"># The ArgumentParser API is used for specifying command line arguments
# description - a text description shown when you use the --help argument
parser = ArgumentParser(description='Upload a New Log')

# Arguments that specify the routing keys
# dest - the destination variable to hold an array of routing keys
# const - the string that will be placed in the dest array if the argument is used
parser.add_argument("-WXC", action="append_const", dest="routing_keys", const="womensxc",
                    default=[], help="use the woman's cross country routing key")
parser.add_argument("-WTF", action="append_const", dest="routing_keys", const="womenstf",
                    default=[], help="use the woman's track & field routing key")
parser.add_argument("-MXC", action="append_const", dest="routing_keys", const="mensxc",
                    help="use the men's cross country routing key")
parser.add_argument("-MTF", action="append_const", dest="routing_keys", const="menstf",
                    help="use the men's track & field routing key")
parser.add_argument("-ALUM", action="append_const", dest="routing_keys", const="alumni",
                    help="use the alumni routing key")

# Specify all the command line arguments that specify running log JSON properties
# The first argument is the command line short form, and the second argument is the long form
# help - description displayed when you use the --help argument
parser.add_argument("-n", "--name", help="the name of the runner")
parser.add_argument("-d", "--distance", type=float, help="the distance run")
parser.add_argument("-m", "--metric", choices=["miles", "kilometers", "meters"], 
                    help="the distance run metric")
parser.add_argument("-t", "--time", help="the time taken on the run")
parser.add_argument("-dt", "--date", help="the date of the run 'yyyy-mm-dd'")
parser.add_argument("-l", "--location", help="the location of the run")
parser.add_argument("-des", "--description", help="a description of the run")

# Parse the command line arguments into the args object with the arguments as variables
args = parser.parse_args()

# Build the JSON object to send across Rabbit
json_object = dict()
json_object['name'] = args.name
json_object['distance'] = args.distance
json_object['metric'] = args.metric
json_object['time'] = args.time
json_object['date'] = args.date
json_object['location'] = args.location
json_object['description'] = args.description

json_data = json.dumps(json_object)</code>
                        </pre>
                    </figure>
                    <p>
                        Now we need to generate a routing key to use for this message.  Routing keys in RabbitMQ are strings separated by <code>.</code> 
                        symbols.  For example, a key could be <code>foo.bar</code>.  These keys are used in the topic exchange type, where each consumer 
                        specifies a routing key pattern to subscribe to<sup>2</sup>.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-python" title="Python" contenteditable="true" spellcheck="false">def build_routing_key(key_list):
    """ Build up the routing key from a list of routes """

    str = ""

    for i in range(len(key_list)):
        if i != 0:
            str += "."

        str += key_list[i]

    return str

routing_key = build_routing_key(args.routing_keys)</code>
                        </pre>
                    </figure>
                    <p>
                        Now we need to create a connection to RabbitMQ.  First lets use the command line to create two new RabbitMQ users, one for consuming and 
                        one for producing.  The following example gives both users full permissions to configure, read, and write to RabbitMQ  across all queues 
                        and exchanges.  The <code>”.*”</code> pattern is what matches to any queue or exchange, with the first for configuring, the second for 
                        reading, and the last for writing<sup>3</sup>.
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$" data-output="1,3-4,6">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false"># Add a new RabbitMQ user to consume messages
rabbitmqctl add_user running-log-consumer iconsume

# Add a new RabbitMQ user to produce messages
rabbitmqctl add_user running-log-producer iproduce

rabbitmqctl set_permissions running-log-consumer ".*" ".*" ".*"
rabbitmqctl set_permissions running-log-producer ".*" ".*" ".*"</code>
                        </pre>
                    </figure>
                    <p>
                        Since we are building the producer now, I will use the <code>running-log-producer</code> user.  A connection to RabbitMQ is done over 
                        TCP (a reliable data stream protocol between applications).  Inside each RabbitMQ TCP connection is a channel, which is a virtual 
                        connection to perform messaging commands<sup>4</sup>.  The following code sets up this channel:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-clike" title="Python" contenteditable="true" spellcheck="false">credentials = pika.PlainCredentials(cred.USERNAME, cred.PASSWORD)
connection_params = pika.ConnectionParameters(cred.SERVER, virtual_host=cred.VHOST, 
                                            credentials=credentials)

connection = pika.BlockingConnection(connection_params)
channel = connection.channel()</code>
                        </pre>
                    </figure>
                    <p>
                        Now comes the biggest piece of the producer: the exchange.  In fact, all that the producer really does is publish a message on the 
                        exchange and RabbitMQ handles the rest.  Eventually, the exchanges will hand off the messages to queues based on the routing keys we 
                        specified<sup>5</sup>.
                    </p>
                    <p>
                        The following code declares the exchange and publishes a message to it with the JSON we created earlier.  The full code for the producer is up on 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2018/01-Jan/1-24-RabbitMQ/Source/producer.py">GitHub</a>. 
                    </p>
                    <figure>
                        <pre>
                            <code class="language-python" title="Python" contenteditable="true" spellcheck="false"># Declare the running-log exchange
# exchange -- the name of the exchange
# exchange_type -- the type of exchange, in this case a topic exchange
# passive -- perform an exchange declare (False) or just check if it exists (True)
# durable -- If the exchange will survive a RabbitMQ reboot
# auto_delete -- If the exchange will be removed when no queues are bound to it
channel.exchange_declare(exchange=cred.EXCHANGE, exchange_type='topic', passive=False,
                            durable=True, auto_delete=False)

# Publish to the channel and check for publisher confirms
# exchange -- the exchange to publish to
# routing_key -- the routing key to bind to
# properties -- basic properties of the message
# body -- the message contents
if channel.basic_publish(exchange=cred.EXCHANGE, routing_key=routing_key, properties=msg_props,
                            body=json_data):
    print("Confirm Received!")
else:
    print("Message Lost!")</code>
                        </pre>
                    </figure>
                    <h5>Consumer</h5>
                    <p>
                        Now it is time to build the RabbitMQ consumer.  Similarly to the producer, we start by creating a connection and defining an exchange.  
                        We then create a queue on the exchange and determine all the routing keys that the queue accepts.  The python code will take routing keys 
                        as command line arguments.  If there is no command line argument, the queue will match all routing keys.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-python" title="Python" contenteditable="true" spellcheck="false"># Declare a queue and create it if needed
# queue --  the name of the queue - if you dont specify a name RabbitMQ will auto create one
# exclusive -- only allow access by the current connection
# durable -- Survives a reboot
result = channel.queue_declare(queue='log', exclusive=True, durable=True)
queue_name = result.method.queue

# Use command line arguments to get the binding keys
binding_keys = sys.argv[1:]
if not binding_keys:
    # Bind a queue to an exchange and match to all routing keys ('#' operator)
    channel.queue_bind(exchange=cred.EXCHANGE, queue=queue_name, routing_key='#')</code>
                        </pre>
                    </figure>
                    <p>
                        
                    </p>
                    <figure>
                        <pre>
                            <code class="language-python" title="Python" contenteditable="true" spellcheck="false"></code>
                        </pre>
                    </figure>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">RabbitMQ</span> <span class="badge badge-default">Message Broker</span> <span class="badge badge-default">Python</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Alvaro Videla &amp; Jason J.W. Williams, RabbitMQ In Action (Shelter Island, NY: Manning, 2012), 2</p>
                        <p>[2] Ibid., 22</p>
                        <p>[3] Ibid., 45</p>
                        <p>[4] Ibid., 14</p>
                        <p>[5] Ibid., 20</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>