/**
 * Styles for the Home Component
 * Author: Andrew Jarombek
 * Date: 9/17/2018
 */

.home-component-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.title-container {
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
}

.title-container p {
    font-family: 'Longway', Helvetica, sans-serif;
    font-size: 48px;
    color: #555;
}

.lifecycle-log-container {
    grid-column: 1;
    grid-row: 2;
}