<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 11/6/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creating a Simple Geographical Map with Neo4j and Cypher</title>
        <link rel="stylesheet" href="style/neo4j-create.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">November 6th, 2017</p>
                <br>
                <h4>Creating a Simple Geographical Map with Neo4j and Cypher</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>Graph Databases <span class="badge badge-default">Basic</span></p>
                    <p>Neo4j <span class="badge badge-default">Basic</span></p>
                    <p>Cypher Query Language <span class="badge badge-default">Basic</span></p>
                </div>
                <div class="container">
                    <p>
                        hello
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>