#prelazy-image img {
    height: 236px;
}

#postlazy-image img {
    height: 253px;
}

#postlazy-image img, #prelazy-image img {
    border: 2px solid #ececec;
    margin: 0 auto;
    margin-bottom: 20px;
}

img {
    margin-top: 15px;
    margin-left: 60px;
}