<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 2/17/2018 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oracle: Advanced Queries Part II</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">March 19th, 2018</p>
                <br>
                <h4>Oracle: Advanced Queries Part II</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>SQL <span class="badge badge-warning">Intermediate</span></p>
                    <p>Relational Database <span class="badge badge-warning">Intermediate</span></p>
                    <p>Oracle Database <span class="badge badge-warning">Intermediate</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        This is part II of my Oracle advanced query discovery.  You can check out 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2018/03-Mar/3-18-Oracle-Adv-I/View"></a>part I</a>
                        as well!  The two clauses I will look at in this 
                        discovery are <code>MODEL</code> and <code>PIVOT</code>.  The table I am running queries against is called <code>code_written</code> 
                        and it stores data about how many lines of code I wrote in each language over the years.  The data is real too, I actually wrote the 
                        amount of code listed!
                    </p>
                    <p>
                        The <code>MODEL</code> clause allows you to access columns in a row like a multidimensional array.  The calculations you can perform on 
                        this array are similar to those seen in a spreadsheet application such as Excel<sup>1</sup>.  The reason for including the 
                        <code>MODEL</code> clause in Oracle was that users would often copy and paste SQL query results into a spreadsheet and then manipulate 
                        the data from there.  Not you can perform these manipulations in native SQL.
                    </p>
                    <p>
                        The following query is a basic example using the <code>MODEL</code> clause.  I have often figured these lines written statistics are not 
                        quite accurate representations of time spent writing code in each language.  For example, Java is very verbose and I could say I wrote 
                        200 lines of code when all I did was create a simple POJO.  Meanwhile, Python has very concise syntax and I often make complex programs 
                        in less than 100 lines of code.  I use the <code>MODEL</code> clause to adjust the lines written numbers for both Java and Python based 
                        on their verbosity.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sql" title="SQL" contenteditable="true" spellcheck="false">SELECT year, language, lines_written
  FROM code_written
MODEL
PARTITION BY (year)
DIMENSION BY (language)
MEASURES (lines lines_written) (
    lines_written['Java'] = ROUND(lines_written['Java'] * 0.8),
    lines_written['Python'] = ROUND(lines_written['Python'] * 1.25)
)
ORDER BY lines_written DESC NULLS LAST;</code>
                        </pre>
                    </figure>
                    <span class="code-span">
YEAR  LANGUAGE      LINES_WRITTEN
----- ------------- ---------------
2017  Swift         10726
2016  Java          10370
2017  Java          9690
2017  JavaScript    6663
2017  XML           5815
2016  PHP           5433
2017  PHP           3670
....  ...           ....
                    </span>
                    <p>
                        As you can see from the results, now Swift is listed as the language with the most lines written in 2017.
                    </p>
                    <p>
                        Besides for the <code>MODEL</code> clause, the three other important clauses here are <code>PARTITION BY</code>, 
                        <code>DIMENSION BY</code>, and <code>MEASURES</code>.  <code>PARTITION BY</code> defines groupings in the result set.  the 
                        <code>MODEL</code> clause will then perform operations on each of these groupings<sup>2</sup>.  In my query, I partition by the year so 
                        that rules defined later will be applied to each year. 
                    </p>
                    <p>
                        <code>DIMENSION BY</code> identifies each cell in the partition.  These cells make up one element in the multidimensional array.  In my 
                        example, I dimension by language so that each cell is a language.  For instance I pick an index in the array with the strings 
                        <code>'Java'</code> and <code>'Python'</code>.  The array created from this partition only has one dimension, but that doesn't have to 
                        be the case.
                    </p>
                    <p>
                        <code>MEASURES</code> defines what type will be located in each cell and the name of the array<sup>3</sup>.  In the previous query, I 
                        said that each cell will contain a <code>lines</code> element and the array will be named <code>lines_written</code>.
                    </p>
                    <p>
                        Another really cool thing about the <code>MODEL</code> clause is that you can loop through the array of cells with a <code>FOR</code> 
                        loop<sup>4</sup>.  You can then get the current value within the <code>FOR</code> loop with the <code>CURRENTV()</code> function.  The 
                        following queries get the monthly line totals for each language.  Although they all return the same result, you can follow the comments 
                        to see how each optimizes the previous query.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sql" title="SQL" contenteditable="true" spellcheck="false">SELECT year, language, total_lines
FROM code_written
MODEL
PARTITION BY (language)
DIMENSION BY (year)
MEASURES (lines total_lines) (
    total_lines[FOR year FROM 2014 TO 2018 INCREMENT 1] =
      CASE WHEN total_lines[CURRENTV()] IS PRESENT THEN
          ROUND(total_lines[CURRENTV()] / 12, 0)
      ELSE
          0
      END
)
ORDER BY total_lines DESC;

-- You can shorten the above code by using PRESENTNNV() instead of a case statement
-- This function takes a column and if it existed prior to the MODEL clause and isn't 
-- null, the second argument is returned.  Otherwise, the third argument is returned
SELECT year, language, total_lines
  FROM code_written
MODEL
PARTITION BY (language)
DIMENSION BY (year)
  MEASURES (lines total_lines) (
    total_lines[FOR year FROM 2014 TO 2018 INCREMENT 1] =
      PRESENTNNV(total_lines[CURRENTV()], ROUND(total_lines[CURRENTV()] / 12, 0), 0)
  )
ORDER BY total_lines DESC;

-- You can shorten the query even further by using the IGNORE NAV clause with th MODEL.  
-- This specifies that any null values should return a default value.  For numbers that 
-- default is 0, which is the behavior we wanted
SELECT year, language, total_lines
  FROM code_written
MODEL IGNORE NAV
PARTITION BY (language)
DIMENSION BY (year)
  MEASURES (lines total_lines) (
    total_lines[FOR year FROM 2014 TO 2018 INCREMENT 1] = 
        ROUND(total_lines[CURRENTV()] / 12, 0)
  )
ORDER BY total_lines DESC;

-- By default when using the MODEL clause if a row doesn't exist for an array entry, a 
-- new row is created.  We can change that behavior so that no new row is created by using 
-- the RULES UPDATE clause.  Now no new rows are created that were not in the base table
SELECT year, language, total_lines
  FROM code_written
MODEL
PARTITION BY (language)
DIMENSION BY (year)
  MEASURES (lines total_lines)
  RULES UPDATE (
    total_lines[FOR year FROM 2014 TO 2018 INCREMENT 1] = 
        ROUND(total_lines[CURRENTV()] / 12, 0)
  )
ORDER BY total_lines DESC;</code>
                        </pre>
                    </figure>
                    <span class="code-span">
YEAR  LANGUAGE      TOTAL_LINES
----- ------------- --------------
2016  Java          1080
2017  Java          1009
2017  Swift         894
2017  JavaScript    555
2017  XML           485
2016  PHP           453
....  ...           ...
                    </span>
                    <p>
                        Now onto probably the coolest thing I have seen in Oracle so far: the <code>PIVOT</code> clause!  You can use this clause to rotate 
                        rows into columns!  You must use an aggregate function with the <code>PIVOT</code> clause.  The following query rotates the row 
                        <code>year</code> into columns:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sql" title="SQL" contenteditable="true" spellcheck="false">SELECT * FROM (
  SELECT
    year,
    language,
    lines
  FROM code_written
)
PIVOT (
    SUM(lines) FOR year IN (2014, 2015, 2016, 2017, 2018)
);</code>
                        </pre>
                    </figure>
                    <span class="code-span">
LANGUAGE       2014   2015   2016   2017   2018
-------------- ------ ------ ------ ------ ------
JavaScript                   2008   6663   1120
XML                   42     2646   5815   0
PHP                          5433   3670   0
Sass                                163    443
TypeScript                          133    1850
PL/SQL                       203    844    121
SQL                          942    812    585
C                     630    379    271    0
Java           4282   1585   12962  12113  979
Python                931    1122   1288   242
HTML                         1413   1969   397
CSS                          1233   1654   34
JSON                  32     820    1019   112
Swift                               10726  103
                    </span>
                    <p>
                        Now that is awesome!  This is exactly the layout for this data that I would want in an Excel spreadsheet and it was generated in pure 
                        SQL!  I can improve this query result by displaying the total number of lines for each language with the <code>GROUP BY ROLLUP</code> 
                        clause and <code>GROUPING()</code> function.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sql" title="SQL" contenteditable="true" spellcheck="false">CREATE TABLE code_written_pivot AS
SELECT * FROM (
    SELECT
      CASE GROUPING(year)
      WHEN 1
        THEN 'Total'
      ELSE TO_CHAR(year)
      END AS year,
    language,
    SUM(lines) AS lines
    FROM code_written
    GROUP BY ROLLUP (language, year)
)
PIVOT (
    SUM(lines)
FOR year IN (2014, 2015, 2016, 2017, 2018, 'Total' AS Total)
)
ORDER BY "2018" DESC NULLS LAST;</code>
                        </pre>
                    </figure>
                    <span class="code-span">
LANGUAGE       2014   2015   2016   2017   2018   TOTAL
-------------- ------ ------ ------ ------ ------ ------
TypeScript                          133    1850   1983
JavaScript                   2008   6663   1120   9791
Java           4282   1585   12962  12113  979    31921
SQL                          942    812    585    2339
Sass                                163    443    606
HTML                         1413   1969   397    3779
Python                931    1122   1288   242    3583
PL/SQL                       203    844    121    1168
JSON                  32     820    1019   112    1983
Swift                               10726  103    10829
CSS                          1233   1654   34     2921
C                     630    379    271    0      1280
XML                   42     2646   5815   0      8503
PHP                          5433   3670   0      9103
                                                  89789
                    </span>
                    <p>
                        Notice that I created a table from the result of this query.  I did this so I can use the <code>UNPIVOT</code> query, which performs 
                        the opposite operation of <code>PIVOT</code>:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sql" title="SQL" contenteditable="true" spellcheck="false">SELECT * FROM code_written_pivot
UNPIVOT (
    lines FOR year IN (Total, "2018", "2017", "2016", "2015", "2014")
);</code>
                        </pre>
                    </figure>
                    <span class="code-span">
LANGUAGE       YEAR            LINES
-------------- ----- ---------------
TypeScript     TOTAL            1983
TypeScript     2018             1850
TypeScript     2017              133
JavaScript     TOTAL            9791
JavaScript     2018             1120
JavaScript     2017             6663
JavaScript     2016             2008
Java           TOTAL           31921
Java           2018              979
Java           2017            12113
Java           2016            12962
Java           2015             1585
Java           2014             4282
                    </span>
                    <p>
                        Next time I create an Oracle discovery I will look at some PL/SQL!  I'm sure I will come back to these discoveries when I need to use 
                        similar SQL queries in the future!  All the code is up on 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2018/03-Mar/3-19-Oracle-Adv-II/Source"></a>GitHub</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">SQL</span> <span class="badge badge-default">Relational Database</span> 
                                <span class="badge badge-default">Oracle Database</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Jason Price, Oracle Database 12c SQL (New York: McGraw-Hill Education, 2013), 260</p>
                        <p>[2] "Using the SQL MODEL Clause to Define Inter-Row Calculation", http://www.oracle.com/webfolder/technetwork/tutorials/obe/db/10g/r2/prod/bidw/sqlmodel/sqlmodel_otn.htm</p>
                        <p>[3] Ibid., 261</p>
                        <p>[3] Ibid., 264</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>