<div class="app">
  <h1>
    Default vs. OnPush Change Detection Strategies
  </h1>
  <div class="app-body">
    <div class="app-default">
      <h2>Default</h2>
      <cat-pic-i (change)="onChangeI()" [count]="countI"
                 [immutableCount]="immutableCountI"></cat-pic-i>
    </div>
    <div class="app-onpush">
      <h2>OnPush</h2>
      <cat-pic-ii (change)="onChangeII()" [count]="countII"
                  [immutableCount]="immutableCountII"></cat-pic-ii>
    </div>
  </div>
</div>