<div class="app">
  <h1>
    Default vs. OnPush Change Detection Strategies
  </h1>
  <div class="app-body">
    <div class="app-default">
      <h2>Default</h2>
      <horse-pic-i #horseComp (change)="onChangeI(horseComp.usingPrimitive)"
                   [primitiveCount]="primitiveCountI"
                   [objectCount]="objectCountI"></horse-pic-i>
    </div>
    <div class="app-onpush">
      <h2>OnPush</h2>
      <horse-pic-ii #horseComp (change)="onChangeII(horseComp.usingPrimitive)"
                    [primitiveCount]="primitiveCountII"
                    [objectCount]="objectCountII"></horse-pic-ii>
    </div>
  </div>
</div>