<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 11/6/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Global Objects in JavaScript</title>
        <link rel="stylesheet" href="style/global-object.css">
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">November 13th, 2017</p>
                <br>
                <h4>Global Objects in JavaScript</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>JavaScript <span class="badge badge-warning">Intermediate</span></p>
                    <p>Document Object Model <span class="badge badge-default">Basic</span></p>
                    <p>Node.js <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        When you run code in JavaScript there is a global object created in the global scope.  What this object is depends on the environment 
                        JavaScript is running in.  If you are running JavaScript code in your web browser the global object will be <code>window</code>, 
                        which represents the browser window.  Window exposes an API that allows interaction with the Document Object Model (DOM), click 
                        listeners, and other information about the browser window<sup>1</sup>.
                    </p>
                    <p>
                        In the past I have used with <code>window</code> object to check the current URL and previous page visited by the user (to create 
                        a ‘back’ button).  The most common use of <code>window</code> however is to manipulate the DOM and set click listeners (I used 
                        frameworks such as JQuery to perform these tasks in the past).
                    </p>
                    <p>
                        Before we look at some of the uses for the window object, it is important to note that when we run code in the global scope <code>this</code> 
                        will contain the <code>window</code> variable.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">console.info(this); // window object

console.info(window); // window object</code>
                        </pre>
                    </figure>
                    <p>
                        Because of this fact we can use <code>this</code> in the global scope (and any 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-11-JS-This/View/js-this.html">other scopes</a>
                         where the assigned value of <code>this</code> is 
                        <code>window</code>) to refer to window.  One function that the <code>window</code> API exposes is <code>prompt()</code> which displays a field 
                        for the user to enter a value.  In the global scope you can call <code>prompt()</code> with <code>this</code>.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">this.prompt("What is your name?");</code>
                        </pre>
                    </figure>
                    <figure>
                        <img src="prompt.png">
                    </figure>
                    <p>
                        Another <code>window</code> function is <code>open()</code> which creates and returns a new window.  We will use <code>open()</code> along with 
                        windows <code>document.write()</code> function which will write a new element to the DOM.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">var newWindow = window.open();
newWindow.document.write("<p>Hello</p>");</code>
                        </pre>
                    </figure>
                    <p>
                        In this code we open a new window and assign the newly created <code>window</code> object to <code>newWindow</code>.  The <code>document</code> 
                        object in <code>document.write()</code> is the API revealed for the DOM.  It is in the document API where we can traverse and manipulate the DOM to 
                        create dynamic web pages.
                    </p>
                    <p>
                        Finally we can utilize the <code>window</code> object's event listeners.  Let’s create a function that will be called when the user clicks on the new 
                        window.  Once clicked, we want the new window to close.
                    </p>
                    <figure>
                        <pre class="line-numbers" data-start="4">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">newWindow.onclick = function click() {
    newWindow.close();
};</code>
                        </pre>
                    </figure>
                    <p>
                        The problem with this approach is that we can only assign one click listener to the window<sup>2</sup>.  If we wanted to create more, we could utilize the 
                        <code>addEventListener()</code> function on the target object (in this case the window)<sup>3</sup>.
                    </p>
                    <p>
                        This look into the <code>window</code> object and DOM API only scratched the surface of all the features.  I think understanding both of them can 
                        help a programmer to build better web pages (even if you aren’t contacting them directly.  In newer code, you are likely to be using higher level 
                        frameworks such as JQuery, AngularJS, or ReactJS instead).
                    </p>
                    <p>
                        So what about code running in Node.js?  In Node there is also a global object called <code>global</code>.  I haven’t yet found anything too useful 
                        in this global object (although my knowledge of Node is limited) but you can get information on the environment Node is running in by reading global properties.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">// The following results are from my PC 
global.process.arch; // x64
global.process.platform; // win32
global.process.env.OS; // Windows_NT
global.process.env.PROCESSOR_ARCHITECTURE; // AMD64
global.process.env.USERNAME; // Andy
global.process.pid; // 15088</code>
                        </pre>
                    </figure>
                    <p>
                        One final note on the global object in Node.  You may expect the assigned value of <code>this</code> to be <code>global</code> in the global scope (just 
                        like <code>window</code> in the browser).  Let’s try it out:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">console.info(this); // { }</code>
                        </pre>
                    </figure>
                    <p>
                        If you run this code, the returned value is the empty object <code>{ }</code> instead.  Why is this?  It turns out when we debug the file, this code is 
                        actually executed like so:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">(function (exports, require, module, __filename, __dirname) {
    console.info(this);
});</code>
                        </pre>
                    </figure>
                    <p>
                        It turns out <code>this</code> is assigned to the module itself, which here is empty.  As I mentioned my Node.js experience is limited, but I will be fixing that soon!
                    </p>
                    <p>
                        If you want to look at everything on the <code>global</code> object, you can do so while debugging.  You can debug Node.js by running the following command and 
                        navigating to the link given:
                    </p>
                    <figure>
                        <pre class="command-line" data-prompt="$">
                            <code class="language-bash" title="Bash" contenteditable="true" spellcheck="false">node --inspect --debug-brk test.js</code>
                        </pre>
                    </figure>
                    <p>
                        All the code from this discovery can be found 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-13-JS-Global-Object/Source">HERE</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">Document Object Model</span> 
                            <span class="badge badge-default">Node.js</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "Window", https://developer.mozilla.org/en-US/docs/Web/API/Window</p>
                        <p>[2] John Resig, Bear Bibeault, & Josip Maras, Secrets of the JavaScript Ninja (Shelter Island, NY: Manning, 2016), 26</p>
                        <p>[3] "EventTarget.addEventListener()", https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>