<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 2/17/2018 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What I Have Learned About TypeScript</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">March 8th, 2018</p>
                <br>
                <h4>What I Have Learned About TypeScript</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>TypeScript <span class="badge badge-default">Basic</span></p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                                               
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="TypeScript" contenteditable="true" spellcheck="false"></code>
                        </pre>
                    </figure>
                    <p>
                        There are a ton more cool queries to explore in Oracle, and next time I plan on exploring analytic functions.  You can check out all 
                        the code for this discovery on 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2018/03-Mar/3-2-Oracle-Queries/Source">GitHub</a>.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">TypeScript</span> <span class="badge badge-default">JavaScript</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Jason Price, Oracle Database 12c SQL (New York: McGraw-Hill Education, 2013), 51</p>
                        <p>[2] Ibid., 206</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>