<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 2/17/2018 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What I Have Learned About TypeScript</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">March 8th, 2018</p>
                <br>
                <h4>What I Have Learned About TypeScript</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>TypeScript <span class="badge badge-default">Basic</span></p>
                    <p>JavaScript <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        In my
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2018/01-Jan/1-6-Angular-5-First-Impression/View">First Reactions to Angular</a> 
                        discovery post, I was quite critical of TypeScript.  I questioned whether it truly was a pure 
                        superset of JavaScript and didn’t like how it made the MEAN stack no longer just JavaScript.  Now I had to change languages 
                        again when moving between layers!                   
                    </p>
                    <p>
                        I did finish my talk about TypeScript in that post saying how I would continue to work with it and see if I warmed up to the 
                        language.  So is TypeScript going to replace my JavaScript now that I have built a full Angular 5 app with it?  Not quite, but 
                        it is a really cool language that brings a lot to the JavaScript ecosystem!
                    </p>
                    <h5>Static Typing</h5>
                    <p>
                        The biggest argument for TypeScript over JavaScript is that it is statically typed.  This can allow for quicker development and 
                        for many bugs that stem from type incompatibilities to never appear in the first place!  TypeScript does a great job of this!  
                        It is also really nice how TypeScript does not force static typing on you, meaning you don't have to give each variable a type.  
                        If you don't give a variable a type it uses the default <code>any</code> type.  All types in TypeScript are subtypes of 
                        <code>any</code>, so these variables can be assigned any value just like JavaScript<sup>1</sup>!  This allows you to slowly 
                        incorporate TypeScript specific features into your code.
                    </p>
                    <h5>Constructor Shortcuts</h5>
                    <p>
                        There were some other cool features of TypeScript that assisted my Angular development.  One of these features was access modifiers 
                        and constructors.  TypeScript allows you to use access modifiers on your constructor arguments and then automatically adds these 
                        arguments as properties of the object.  This reduces code and the use of <code>this</code> in the constructor body.  In fact almost 
                        none of my constructors even needed bodies!
                    </p>
                    <p>
                        Here is an example of a TypeScript class with one of these constructor shortcuts:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="TypeScript" contenteditable="true" spellcheck="false">class User {
                                    
    // Access modifiers (public, private, protected in TS) on constructor variables  
    // automatically make them instance variables
    constructor(private username: string, private first: string, private last: string) { }

    public getUsername() {

        // Access the automatically created instance variable
        return this.username;
    }
}

const newUser: User = new User("andy", "Andrew", "Jarombek");
console.info(newUser.getUsername()); // andy</code>
                        </pre>
                    </figure>
                    <p>
                        In JavaScript we don’t have this shortcut and have to explicitly assign properties on the object.  Now here is the equivalent in 
                        JavaScript**:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">class User {
                                    
    constructor(username, first, last) {
        this.username = username;
        this.first = first;
        this.last = last;
    }
    
    getUsername() {
        return this.username;
    }
}

const user = new User('andy', 'Andrew', 'Jarombek');
console.info(user.getUsername()); // andy</code>
                        </pre>
                    </figure>
                    <p>
                        **Well, kinda.  The object properties in this class are accessible to the outside code.  To make them private requires additional 
                        complexity.  If you want to see exactly what TypeScript converts to, you can paste this code into the online 
                        <a href="https://www.typescriptlang.org/play/">TypeScript playground</a>.
                    </p>
                    <p>
                        It is also important to remember that with both TypeScript and JavaScript classes are simply syntactic sugar on top of Prototype chains.
                    </p>
                    <h5>Interfaces</h5>
                    <p>
                        While JavaScript still has no native interfaces, TypeScript gives developers an <code>interface</code> keyword to work with.  
                        Interestingly TypeScript interfaces don't transpile into JavaScript code.  Instead they are used to enforce types among 
                        classes<sup>2</sup>.
                    </p>
                    <p>
                        In my Angular project I had classes that interacted with my backend APIs.  Since they all had similar structures, I had them all 
                        implement an interface to help enforce types and class structure:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-javascript" title="TypeScript" contenteditable="true" spellcheck="false">interface HttpService {
                                    
    getAll(): Observable<[any]>;
    get(name: any): Observable<any>;
    post(item: any): Observable<any>;
    put(item: any): Observable<any>;
    patch?(name: string, data: {[key: string]: any}): Observable<any>;
    delete(name: any): Observable<any>;
}</code>
                        </pre>
                    </figure>
                    <p>
                        You can see that the <code>patch()</code> function defined in the interface is also optional for classes to implement (as defined with the <code>?</code> token).  This allows 
                        my classes to still be flexible even with an interface!
                    </p>
                    <h5>Conclusions</h5>
                    <p>
                        These were a few of the features of TypeScript that really stood out to me.  I really misses optional static typing amongst other 
                        features when switching back to JavaScript.  While I don’t think TypeScript will replace my use of JavaScript, I do hope JavaScript 
                        implements some of these features in the future (in fact, there is a 
                        <a href="https://github.com/michaelficarra/proposal-first-class-protocols">proposal</a> 
                        to add interfaces to JavaScript in the wild, so there is hope!).
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">TypeScript</span> <span class="badge badge-default">JavaScript</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Yakov Fain &amp; Anton Moiseev, Angular 2 Development with TypeScript (Shelter Island, NY: Manning, 2017), 395</p>
                        <p>[2] Ibid., 410</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>