<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 2/17/2018 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What I Have Learned About Sass</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/fantasque-sans-mono" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">March 10th, 2018</p>
                <br>
                <h4>What I have Learned About Sass</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>Sass <span class="badge badge-default">Basic</span></p>
                    <p>CSS <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        In the client side code for my <a href="https://github.com/AJarombek/mean-client-prototype">MEAN stack prototype</a> I 
                        used Sass for my stylesheets over CSS.  I had experimented with Sass 
                        before, but this was my first time using it in a full project.  Until native CSS adds the features that Sass provides, I 
                        will continue using Sass for stylesheets in the future.
                    </p>
                    <p>
                        Sass is a CSS preprocessor with Ruby style syntax.  It is a superset of CSS so any CSS document is also valid Sass<sup>1</sup>.  
                        Sass adds lots of new features including variable definitions, mixins, and other syntax that helps create reusable components in 
                        your styling.  The biggest problem I had with CSS is that it ends up looking like a jumbled mess with many repeated styles.  With Sass, 
                        we now have reusable styles!
                    </p>
                    <p>
                        In the past I had played around with basic Sass features like inline comments and variables.  For example, you can define variables 
                        for a bunch of colors you use throughout the application.
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">$baby-blue: #8bb3f4;
$baby-blue-light: #ccdfff;
$light-gray: #aaa;
$off-white: #eee;</code>
                        </pre>
                    </figure>
                    <p>
                        Now when you have a CSS declaration you can reference this variable:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">#button {
    border-color: $baby-blue;
}</code>
                        </pre>
                    </figure>
                    <p>
                        This time around I experimented with more complex Sass features.  I will discuss these exciting features next!
                    </p>
                    <h5>Mixins</h5>
                    <p>
                        Mixins are an extremely powerful Sass property that allows you to create reusable style blocks.  You can create 
                        a mixin with the <code>@mixin</code> directive and can use it in a style declaration with the <code>@include</code> 
                        directive<sup>2</sup>.  For example, in my application I created a mixin for each of my font styles:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">@mixin dyslexie {
    background-color: transparent !important;
    font-family: 'Dyslexie', Helvetica, sans-serif !important;
    font-weight: normal;
    font-style: normal;
}</code>
                        </pre>
                    </figure>
                    <p>
                        Then I could apply the styles in the mixin to a style declaration:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">body {
    @include dyslexie;
}</code>
                        </pre>
                    </figure>
                    <p>
                        Every element in the website that needed that specific font would simply include the mixin!  I also used mixing to 
                        perform more complex operations like transformations.  Another powerful feature of mixins is the ability to pass it 
                        arguments.  These arguments can even have default values!  Here is a mixin that I created to apply a transition to a property:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">/**
 * a mixin that simplifies transition generation
 * @param $property - the property of the element that transitions
 * @param $result - the resulting style of the transition
 * @param $time - the time the transition takes to complete (optional)
 */
@mixin transition($property, $result, $time: .3s) {
    transition: #{$property} $time ease;

    // #{} syntax compiles the contents as a property name or selector
    &:hover {
        #{$property}: $result;
    }
}</code>
                        </pre>
                    </figure>
                    <p>
                        This mixin creates a transition style on the property parameter.  Also if no time is specified as a parameter, the default argument 
                        of 0.3 seconds is used.
                    </p>
                    <p>
                        Another cool piece of this code is the ampersand (<code>&amp;</code>) placeholder.  This placeholder will be a reference to the parent selector once 
                        Sass is converted to native CSS<sup>3</sup>.  The <code>:hover</code> pseudo-class in the above example will be applied to the parent 
                        selector that the mixin is included in!
                    </p>
                    <p>
                        Here is some code where I include the transition mixin:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">#login-button {
    @include transition("background-color", $light-gray);
}</code>
                        </pre>
                    </figure>
                    <p>
                        Mixins allow for reduced code and less repetition in Sass files!  
                    </p>
                    <h5>Extends</h5>
                    <p>
                        If you have multiple selectors that use the same styles, you can extend these matching styles from a class.  Here is an example:
                    </p>
                    <figure>
                        <pre>
                            <code class="language-sass" title="Sass" contenteditable="true" spellcheck="false">// Define a general style to be extended for &lt;span&gt; elements
.span-style {
    @include sylexiad;
    color: #990000;
}

span {
    @extend .span-style;
}</code>
                        </pre>
                    </figure>
                    <p>
                        Now all the styles in the <code>.span-style</code> class will be used in the <code>span</code> element.  The best part is that this class can be extended into other 
                        CSS selectors as well!  It is yet another great way to reuse components in CSS. 
                    </p>
                    <p>
                        I am having a ton of fun exploring Sass and all the exciting possibilities it offers.  While I hope these features eventually make it into 
                        the native CSS spec, for now Sass is a nice alternative.  I am sure this won't be my last discovery on the matter!
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">Sass</span> <span class="badge badge-default">CSS</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] Dan Cederholm, Sass for Web Designers (New York: A Book Apart, 2013), 14</p>
                        <p>[2] Ibid., 44</p>
                        <p>[3] Ibid., 36</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>