<!DOCTYPE html>
<!-- Author: Andrew Jarombek
     Date: 11/6/2017 -->
<html>
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exploring Generators</title>
        <link rel="stylesheet" href="../../../../../blog-discover.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,700,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="../../../../../prism.css" rel="stylesheet" />
    </head>
    <body>
        <div class="col-md-12 discoveryBody">
            <div class="col-md-12 discoveryContent">
                <p class="date">November 25th, 2017</p>
                <br>
                <h4>Exploring Generators</h4>
                <br>
                <div class="container aknowledge">
                    <p>Assumed Knowledge:</p>
                    <p>JavaScript <span class="badge badge-warning">Intermediate</span></p>
                    <p>ECMAScript 6 <span class="badge badge-default">Basic</span></p>
                    <p>Python <span class="badge badge-default">Basic</span></p>
                </div><br>
                <div id="discoveryText" class="container">
                    <p>
                        When I first heard about generators in the ES6 version of JavaScript, I wasn't quite sure how useful they would be.  In this post I 
                        will look at the basics of generators in JavaScript along with other languages, and then explore some practical uses for it in a future 
                        post on combining Generators and Promises.  
                        
                    </p>
                    <p>
                        To introduce generators I am going to use them to create the fibonacci sequence.
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-javascript" title="JavaScript" contenteditable="true" spellcheck="false">function *fib() {
    var first = 0;
    var last = 1;
    
    yield first;
    yield last;
    
    while(true) {
        // ES6 Desconstructing shortens the traditional variable swap
        [first, last] = [last, first + last];
        
        yield last;
    }
}

var fibonacci = fib();

for(let i = 0; i < 50; i++) {
    let result = fibonacci.next();
    console.info(result.value);
}</code>
                        </pre>
                    </figure>
                    <p>
                        To create a generator function in JavaScript you put the <code>*</code> token next to a function.  When you call a generator function, 
                        it does not execute like a normal function.  Instead it creates an iterator which can be called to execute the functions contents.  
                        Therefore the <code>fibonacci</code> variable actually contains an iterator that you can iterate over using the <code>next()</code> 
                        function.  When the <code>next()</code> function is called, the generator contents execute until the whole code body is run or a 
                        <code>yield</code> keyword is encountered.  At this point the generator is paused.  You can also return a value with a <code>yield</code> 
                        statement, as I did in the code above.  This value is placed in the <code>value</code> property of the iterator (which is itself an object).  
                        We print this property out when we call <code>console.info(result.value)</code>.
                    </p>
                    <p>
                        One thing you may have noticed is the infinite <code>while</code> loop in the generator. Usually of course you should avoid infinite 
                        loops, but in generator bodies it is completely okay!  This is because it is up to the user of the generator how many times they want to 
                        call the iterator, so it won't necessarily run forever.
                    </p>
                    <p>
                        I say not necessarily because it is certainly possible for a generator to be called infinite times.  In ES6 there is a new for…of loop 
                        which is used to loop through the iterator until completion.  In the fibonacci example, I did not use this loop because it would run forever!
                    </p>
                    <p>
                        I mentioned that the <code>yield</code> keyword passes a value to the outer code via the iterators <code>value</code> property.  You can 
                        also pass values back into the generator by adding a parameter to the iterators <code>next()</code> function.  You can see an example of 
                        this in this discoveries 
                        <a href="https://github.com/AJarombek/jarombek-com-submittions/blob/master/Discoveries/2017/11-Nov/11-25-Generators/Source">source code</a>.
                    </p>
                    <p>
                        JavaScript is not the only language with generators.  Of my main languages Python and PHP also have generators.  Let's look at an example in Python<sup>1</sup>:
                    </p>
                    <figure>
                        <pre class="line-numbers">
                            <code class="language-python" title="Python" contenteditable="true" spellcheck="false">def fib():
    first = 0
    last = 1
    
    yield first
    yield last
    
    while True:
        # Construct and deconstruct a tuple
        first, last = last, first + last
        yield last

fibonacci = fib()
for x in range(50):
    print(next(fibonacci))</code>
                        </pre>
                    </figure>
                    <p>
                        You can see that the Python code is nearly identical - although you don't need the <code>*</code> token next to the function definition.
                    </p>
                    <div class="container tags">
                        <p>
                            Tags: <span class="badge badge-default">JavaScript</span> <span class="badge badge-default">ECMAScript 6</span> 
                            <span class="badge badge-default">Python</span> <span class="badge badge-default">Generators</span>
                        </p>
                    </div>
                    <div class="container sources">
                        <p>[1] "Improve Your Python: 'yield' and Generators Explained", Apr. 7th, 2013, https://jeffknupp.com/blog/2013/04/07/improve-your-python-yield-and-generators-explained/</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../prism.js"></script>
    </body>
</html>